
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container">
      <%= image_tag @banner, alt: "about banner image", style: "width:100%;" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 medium-6 small-centered medium-uncentered large-uncentered columns">
    <nav class="about-navigation">
      <ul>
        <li>About</li>
        <li>Trainer Bio</li>
        <li>Gallery</li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 small-centered columns">
    <div class="about-content">
      <h3>About Us</h3>
      <p>Gymsight offers highly structured and intelligent programming to our athletes which is defined by quality over quantity every time. We
      also measure and quantify the performance of our members. This applies to both clients and our training cadre alike. While any future
      seminars will remain open to the public, there are no standard open gym memberships and eligibility for short or long-term training is
      decided through conversation and assessment on a personal and professional level.</p>
    </div>
  </div>
</div>

