<% provide(:title, 'About') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container who-we-are-banner">
    <div class="banner-text">Who <br/>We Are</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <dl class="tabs" data-tab data-options="deep_linking:true;scroll_to_content:false;">
      <dd class="active" id="about_us"><a href="#about_us">About</a></dd>
      <dd id="trainer_bio"><a href="#trainer_bio">Trainer Bio</a></dd>
      <dd id="gallery"><a href="#gallery" id="last-tab">Gallery</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="about_us">
        <div class="row">
          <div class="small-12 large-12 medium-12 columns">
            <section class="text-content" id="about-us">
              <h3>About Us</h3>
              <p>Gymsight offers highly structured and intelligent programming to our athletes which is defined by quality over quantity every time. We
                also measure and quantify the performance of our members. This applies to both clients and our training cadre alike. While any future
                seminars will remain open to the public, there are no standard open gym memberships and eligibility for short or long-term training is
                decided through conversation and asessment on a personal and professional level.</p>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-12 medium-12 columns">
            <section class="gym-photos">
              <figure>
                <%= image_tag 'Who_We_Are/wwa_insidegym.jpg', alt:'inside the gym' %>
                <figcaption>Inside the Gymsight Space</figcaption>
              </figure>
            </section>
          </div>
        </div>
      </div>
          <div class="content" id="trainer_bio">
            <div class="row">
              <div class="small-12 large-8 medium-8 columns">
                <section class="text-content" id="gymowner-bio">
                  <h3>Dewayne Hornbeak</h3>
                  <p>My Gymsight journey began while serving honorably as a United States Marine infantry and special
                   operations team member before moving on to a long career in the private security field. As a tactical
                   athlete, my career has taken me from every part and climate of the earth which has always led me to
                   be immersed in physical training as I never knew what area of situation I might end up in. When not
                   training my own mind and body I’ve always been busy training others in survival tactics, self-defense
                   in addition to physical fitness. I love what I do so I’ve never worked a day of it.</p>
                 </section>
               </div>
               <figure class="small-12 large-4 medium-4 columns center-image" id="headshot-container">
                <%= image_tag 'Who_We_Are/dewayne.jpg', alt:'dewayne photo', id: 'gymowner-headshot' %>
               <!--  <div class="headshot-caption">

                </div> -->
             <!--  <div class="image-caption">
                <div class="age"><span class="caption-title">Age</span><br>32</div><div class="hometown"><span class="caption-title">Hometown</span><br>Austin, TX</div>
                <div class="hobbies"><span class="caption-title">Hobbies</span><br> Travels, hikes, boulders, runs, swims, & reads</div>
              </div> -->
              </figure>
          </div>
        </div>
        <div class="content" id="gallery">
          <p>Third panel content goes here...</p>
        </div>
      </div>
    </div>
  </div>
</div>
