
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container">
      <%= image_tag @banner, alt: "about banner image", style: "width:100%;" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <nav class="about-navigation">
      <ul>
        <li>About</li>
        <li>Trainer Bio</li>
        <li>Gallery</li>
      </ul>
    </nav>
  </div>
</div>
