<% provide(:title, 'FAQ') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container who-we-are-banner">
    <div class="banner-text"><%= @banner_text_l1 %><br/><%= @banner_text_l2 %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <h1 class="faq-headline">Find answers to frequently asked questions below. Still have a question? <%= link_to 'ask a question', contact_path %></h1>
  </div>
</div>
