<% provide(:title, 'FAQ') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container who-we-are-banner">
    <div class="banner-text"><%= @banner_text_l1 %><br/><%= @banner_text_l2 %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <h1 class="faq-headline">Find answers to frequently asked questions below. Still have a question? <%= link_to 'ask a question', contact_path %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <dl class="accordion faq" data-accordion>
      <dd>
        <a href="#panel1"><div class="button-triangle"></div><div class="question-text">What does a free consultation with Gymsight look like?</div></a>
        <div id="panel1" class="content">
            hello world
        </div>
      </dd>
      <dd>
        <a href="#panel2"><div class="button-triangle"></div><div class="question-text">How is Gymsight different from other gyms?</div></a>
        <div id="panel2" class="content">
          Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd>
        <a href="#panel3"><div class="button-triangle"></div><div class="question-text">Will Gymsight help me defeat the english?</div></a>
        <div id="panel3" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd>
        <a href="#panel4"><div class="button-triangle"></div><div class="question-text">What if I don't have any goals?</div></a>
        <div id="panel4" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd>
        <a href="#panel5"><div class="button-triangle"></div><div class="question-text">Why does gymsight not post prices on the website?</div></a>
        <div id="panel5" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd>
        <a href="#panel6"><div class="button-triangle"></div><div class="question-text">How long is a tranoing session?</div></a>
        <div id="panel6" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd>
        <a href="#panel7"><div class="button-triangle"></div><div class="question-text">How does Gymsight differ from other gyms?</div></a>
        <div id="panel7" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd>
        <a href="#panel8"><div class="button-triangle"></div><div class="question-text">What if I don't have any goals?</div></a>
        <div id="panel8" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
    </dl>
  </div>
</div>
