<% provide(:title, 'FAQ') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container who-we-are-banner">
    <div class="banner-text"><%= @banner_text_l1 %><br/><%= @banner_text_l2 %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <h1 class="faq-headline">Find answers to frequently asked questions below. Still have a question? <%= link_to 'ask a question', contact_path %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <dl class="accordion faq" data-accordion>
      <dd>
        <a href="#panel1"><div class="button-triangle"></div><div class="question-text">What is your training philosophy? </div></a>
        <div id="panel1" class="content">
            Gymsight Training provides mountain, competitive, tactical, and recreational athletes with a place to train intelligently, improve performance, and increase their health. Our belief is that physical and mental strength achieved in the gym builds confidence that allows you to be more efficient during your activities. We also believe in training that is creative, progressive, and constantly evolving as you develop, with the end goal of helping you achieve your training objectives. Gymsight Training conducts its sessions out of a private training facility located in Seattle Washington where we train a multitude of individuals with varied goals in mind. We train athletes and professionals, fighters and housewives, soldiers and climbers. Most importantly we train those willing to commit themselves to progress.
        </div>
      </dd>
      <dd>
        <a href="#panel2"><div class="button-triangle"></div><div class="question-text">What is your training methodology? </div></a>
        <div id="panel2" class="content">
          <p>
          Each of our training sessions utilizes strength, metabolic conditioning, endurance, flexibility and other athletic abilities in whatever fashion most appropriate for the program, group or individual goals. To support our training objectives, we utilize a multitude of methods: weight/Olympic lifting, bodyweight calisthenics, hiking and climbing, running and sprinting, martial arts, plyometrics, circuits, rowing and various other tools, some new, others primitive.
          </p>
          <p>
          Our strength training also tend to be longer, 30+ minutes for our runners and as long as 90+ minutes of constant work for our climbers which also depends on the season. All of our training programs utilize a periodization cycle that rotates through athletic abilities such as strength, endurance, stamina, and power every few weeks which keeps things interesting and avoids stagnation in the programming. And while we do keep things constantly varied, nothing done here is random, intensity is closely measured, and while performance results are posted for everyone to see, we avoid treating every workout as a race.
          </p>
        </div>
      </dd>
      <dd>
        <a href="#panel3"><div class="button-triangle"></div><div class="question-text">What is your Mission Statement?</div></a>
        <div id="panel3" class="content">
          Gymsight Training is a strength and conditioning facility located in the heart of Ballard, Seattle, WA providing: We offer group, general athletic strength and conditioning, private training, and lifestyle/nutritional design. Our goal is to maximize your performance in the gym so that you are better prepared for your sport or work activity outside the gym.
        </div>
      </dd>
      <dd>
        <a href="#panel4"><div class="button-triangle"></div><div class="question-text">What does a consultation with you look like?</div></a>
        <div id="panel4" class="content">
          With our focus on safety and the efficiency of instruction, all new clients undergo an initial consultation to assess individual or group goals, motivation, standing health, physical ability and client/trainer compatibility. Once we've decided on a program objective or personal training cycle, physical, psychological, nutritional and correctional exercise programming will be planned. We'll also use this time to discuss fees for the training.
        </div>
      </dd>
      <dd>
        <a href="#panel5"><div class="button-triangle"></div><div class="question-text">What can I expect after the initial consultation? </div></a>
        <div id="panel5" class="content">
          First, we check for imbalances through a movement assessment. Next we'll determine your skill level and training threshold. At the discretion of the Gymsight Instructor, those without prior or necessary levels of strength and conditioning experience may need to complete the <a href="http://gymsight.herokuapp.com/offerings/essentials-pipeline">Essentials Pipeline</a> and or a series of personalized training sessions prior to moving on to our structured programming.
        </div>
      </dd>
      <dd>
        <a href="#panel6"><div class="button-triangle"></div><div class="question-text">I've heard the weight gain associated with increased muscle mass can affect my performance. </div></a>
        <div id="panel6" class="content">
          The objective of our training is to improve your strength-to-weight ratio without the added weight. In order to get big and bulky, or "yoked" as it is often referred, you have to consistently train to failure with moderate to heavy weight and do so frequently. You also need a high calorie diet to support and maintain the mass gain. In order to gain a considerable amount of muscle mass it takes a very concerted effort in both training and diet.
        </div>
      </dd>
      <dd>
        <a href="#panel7"><div class="button-triangle"></div><div class="question-text">Why do your training programs have different session durations?</div></a>
        <div id="panel7" class="content">
          Program session durations vary because program objectives vary, and programs are designed to help athletes accomplish goals in unique athletic fields. This objective-driven approach comes with unique constraints and training requirements.
        </div>
      </dd>
      <dd>
        <a href="#panel8"><div class="button-triangle"></div><div class="question-text">What is your take on performance nutrition? </div></a>
        <div id="panel8" class="content">
          <p>
            Food is fuel, and athletes need the right kinds of fuels to effectively support their training and performance efforts. The first step in figuring out what to eat is to determine your performance or body composition goals. Simply put, match your diet to your objective and this will serve as your blueprint for progress. While we do not advocate any one diet over another, there are still some principles we like to follow whether you're eating for optimum health or to improve performance.
          </p>
          Here are some things to consider regarding nutrition:
          <br>

          <ol class="faq-list">
            <li>What do you want to accomplish with your training? Your diet should be tailored to support that objective.</li>
            <li>Determine your daily calorie requirements based on your target objective and spread this over 5 to 6 meals per day.</li>
            <li>If you're hungry, eat a small snack between meals balanced with carbs, proteins and fats.</li>
            <li>Include fiber-rich carbs such as vegetables, quality proteins, and good fats in every meal.</li>
            <li>Make it a point to drink at least 8 to 10 glasses of water each day. More if your level of activity requires it.</li>
            <li>Keep a close eye on how much of your food comes from the earth and how much comes packaged.</li>
            <li> It is ok to include supplements in your daily diet only if you are lacking nutrition in the areas you are supplementing</li>
            <li>Avoid drinking calories (such as soda and other sugary beverages) and keep the coffee intake to a minimum.</li>
            <li>Limit the amount of "pseudo" foods (meal replacements drinks, protein bars, etc.) you're eating every day.</li>
            <li>Consider keeping a food journal, this will create an awareness and hold you accountable to what you're eating.</li>
          </ol>
        </div>
      </dd>
      <dd>
        <a href="#panel9"><div class="button-triangle"></div><div class="question-text">What do your training sessions look like?</div></a>
        <div id="panel9" class="content">
          Depending on whether you choose an individual or group program objective, you could either be training alone or in a group of up to 8 persons. We prefer to keep class sizes small because our focus remains on safety and quality of instruction. After everyone signs in and receives the introduction on the session layout and objectives, we begin with proper mobility preparation (warm up), conduct the workout, then finish with a recovery portion (cool down). The recovery portion gives members the opportunity to engage in discussion about the workout, ask questions, or share ideas.
        </div>
      </dd>
      <dd>
        <a href="#panel10"><div class="button-triangle"></div><div class="question-text">I'm concerned about previous injuries and concerned about re-injury or aggravating old pains.</div></a>
        <div id="panel10" class="content">
          <p>
            Many people hurt or tweak their shoulders, lower backs, knees, etc. and are afraid to work those areas, however the problem arises when we completely avoid strengthening the point of injury or surrounding areas even after the injury has been rehabilitated. Doing this creates a series of muscular imbalances that's a disaster waiting to happen. For those that continue training while avoiding the trouble area, they become stronger everywhere else but that area remains weaker in comparison. This only increases the chances of that area being re-injured, along with the risk of additional injury due to over compensation in other muscles and joints.
          </p>
          <p>
            Regardless of the pain or past injury, we educate members about proper technique, movement mechanics, and recovery, which in turn aids in functional capacity.
          </p>
        </div>
      </dd>
      <dd>
        <a href="#panel11"><div class="button-triangle"></div><div class="question-text">As an endurance athlete I've been taught that strength training will only be a detriment to my endurance performance.</div></a>
        <div id="panel11" class="content">
          <p>
            Old training knowledge would have us believe that endurance efforts are primarily cardiovascular in nature and involve only minimal levels of strength repeated over an extended period of time and that training to increase maximal strength levels would only be detrimental to endurance abilities and a waste of training time.
          </p>
          <p>
            Modern research has taught us that improving strength actually improves endurance by training the neurological system to recruit more muscle fibers on a "needs" basis. So regardless of what your endurance objective is, your body will have the ability to recruit more muscle fibers than previously able. As working muscle fibers tire, previously strengthened muscle fibers step it up to help maintain the effort, or give an extra burst of speed or power if and when it's needed.
          </p>
          <p>
            Used correctly, functional strength training allows for a larger pool of muscles to be made available, which leads to higher outputs of power that can be achieved and sustained for longer periods of time. As a result, endurance is improved.
          </p>
        </div>
      </dd>
    </dl>
  </div>
</div>
