<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <%= render 'static_pages/homepage_partials/homepage_slider' %>
  </div>
</div>

<div class="row small-med-show">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#panel1">Who We Are</a>
        <div id="panel1" class="content">
          <ul>
            <li><a href="http://gymsight.herokuapp.com/about#about_us">About Us</a></li>
            <li><a href="http://gymsight.herokuapp.com/about#trainer_bio">Trainer Bio</a></li>
            <li><a href="http://gymsight.herokuapp.com/about#galleryf">Gallery</a></li>
          </ul>
        </div>
      </dd>
      <dd>
        <a href="#panel2">What We Offer</a>
        <div id="panel2" class="content">
          <ul>
            <li><a href="javascript:void(0)">hello world 1</a></li>
            <li><a href="javascript:void(0)">hello world 2</a></li>
            <li><a href="javascript:void(0)">hello world 3</a></li>
          </ul>
        </div>
      </dd>
      <dd>
        <a href="#panel3">Get Started</a>
        <div id="panel3" class="content">
          <ul>
            <li><a href="javascript:void(0)">hello world 1</a></li>
            <li><a href="javascript:void(0)">hello world 2</a></li>
            <li><a href="javascript:void(0)">hello world 3</a></li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</div>

<div class="row small-med-hidden">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="row">
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile who-we-are-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>Who We Are</div>
          </div>
          <ul class="nav-listings">
              <li><a href="http://gymsight.herokuapp.com/about#about_us">About Us</a></li>
              <li><a href="http://gymsight.herokuapp.com/about#trainer_bio">Trainer Bio</a></li>
              <li><a href="http://gymsight.herokuapp.com/about#gallery">Gallery</a></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile what-we-offer-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>What We Offer</div>
          </div>
          <ul class="nav-listings">
              <li><a href="#">Gym Methodology</a></li>
              <li><a href="#">Training Programs</a></li>
              <li><a href="#">Frequently-Asked Questions</a></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile get-started-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>Get Started</div>
          </div>
          <ul class="nav-listings">
              <li><a href="#">Gym Methodology</a></li>
              <li><a href="#">Training Programs</a></li>
              <li><a href="#">Frequently-Asked Questions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
