<div class="row">
  <div class="small-12 large-10 large-centered columns">
    <%= render 'static_pages/homepage_partials/homepage_slider' %>
  </div>
</div>
<div class="row">
  <div class="small-12 large-10 large-centered columns">
    <div class="row">
      <div class="small-12 large-4 columns">
        <a class="nav-tile" href="#">
          <%= image_tag "Homepage/Homepage_Image_Who_We_Are_ph.png", alt:"who we are", class:"nav-image" %>
          <div class="nav-details">
            <h5 class="image-title"><div class="triangle"></div>Who We Are</h5>

          </div>
        </a>
      </div>
      <div class="small-12 large-4 columns">
        <div class="nav-tile">
          <%= image_tag "Homepage/Homepage_Image_What_We_Offer_ph.png", alt:"what we offer", class:"nav-image" %>
          <div class="nav-details">
            <h5 class="image-title"><div class="triangle"></div>What We Offer</h5>
            <ul class="nav-listings">
              <li>Gym Methodology</li>
              <li>Training Programs</li>
              <li>Frequently-Asked Questions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-12 large-4 columns">
        <a class="nav-tile" href="#">
          <%= image_tag "Homepage/Homepage_Image_Get_Started_ph.png", alt:"get started", class:"nav-image" %>
          <div class="nav-details">
            <h5 class="image-title"><div class="triangle"></div>Get Started</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
