<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <%= render 'static_pages/homepage_partials/homepage_slider' %>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="row">
      <div class="small-12 large-4 medium-4 columns">
        <div class="nav-tile">
          <%= image_tag "Homepage/Homepage_Image_Who We Are_ph_retina.jpg", alt:"who we are", class:"nav-image" %>
          <div class="nav-details">
            <span class="image-title"><div class="triangle"></div>Who We Are</span>
          </div>
        </div>
      </div>
      <div class="small-12 large-4 medium-4 columns">
        <div class="nav-tile">
          <%= image_tag "Homepage/Homepage_Image_What We Offer_ph_Retina.jpg", alt:"what we offer", class:"nav-image" %>
          <div class="nav-details">
            <span class="image-title"><div class="triangle"></div>What We Offer</span>
            <ul class="nav-listings">
              <li>Gym Methodology</li>
              <li>Training Programs</li>
              <li>Frequently-Asked Questions</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-12 large-4 medium-4 columns">
        <div class="nav-tile">
          <%= image_tag "Homepage/Homepage_Image_Get Started_ph_retina.jpg", alt:"get started", class:"nav-image" %>
          <div class="nav-details">
            <span class="image-title"><div class="triangle"></div>Get Started</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
