<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <%= render 'static_pages/homepage_partials/homepage_slider' %>
  </div>
</div>

<div class="row small-med-show">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#panel1">Who We Are</a>
        <div id="panel1" class="content">
          hello world
        </div>
      </dd>
      <dd>
        <a href="#panel2">What We Offer</a>
        <div id="panel2" class="content">
          "Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.""
        </div>
      </dd>
      <dd>
        <a href="#panel3">Get Started</a>
        <div id="panel3" class="content">
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
    </dl>
  </div>
</div>

<div class="row small-med-hidden">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="row">
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile who-we-are-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>Who We Are</div>
          </div>
          <ul class="nav-listings">
              <li><a href="http://gymsight.herokuapp.com/about#about_us">About Us</a></li>
              <li><a href="http://gymsight.herokuapp.com/about#trainer_bio">Trainer Bio</a></li>
              <li><a href="http://gymsight.herokuapp.com/about#gallery">Gallery</a></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile what-we-offer-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>What We Offer</div>
          </div>
          <ul class="nav-listings">
              <li><a href="#">Gym Methodology</a></li>
              <li><a href="#">Training Programs</a></li>
              <li><a href="#">Frequently-Asked Questions</a></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile get-started-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>Get Started</div>
          </div>
          <ul class="nav-listings">
              <li><a href="#">Gym Methodology</a></li>
              <li><a href="#">Training Programs</a></li>
              <li><a href="#">Frequently-Asked Questions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
