<% provide(:title, 'Home') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <%= render 'static_pages/homepage_partials/homepage_slider' %>
  </div>
</div>
<div class="row hide-for-large-up">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <dl class="accordion nav" data-options="deep_linking:false" data-accordion>
      <dd>
        <a href="#panel1">Who We Are</a>
        <div id="panel1" class="content">
          <ul>
            <li><a href="http://gymsight.com/about#about_us">About Us</a></li>
            <li><a href="http://gymsight.com/about#trainer_bio">Trainer Bio</a></li>
            <li class="last-accordion"><a href="http://gymsight.com/about#gallery">Gallery</a></li>
          </ul>
        </div>
      </dd>
      <dd>
        <a href="#panel2">What We Offer</a>
        <div id="panel2" class="content">
          <ul>
            <li><a href="http://gymsight.com/offerings">Training Programs</a></li>
            <li class="last-accordion"><a href="http://gymsight.com/frequently-asked-questions">Frequently Asked Questions</a></li>
          </ul>
        </div>
      </dd>
      <dd>
        <a href="#panel3">Get Started</a>
        <div id="panel3" class="content">
          <ul>
            <li><a href="http://gymsight.com/contact#consultation_request">Request a Consultation</a></li>
            <li class="last-accordion"><a href="http://gymsight.com/contact#question">Ask a Question</a></li>
          </ul>
        </div>
      </dd>
    </dl>
  </div>
</div>

<div class="row hide-for-small-only hide-for-medium-only">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="row">
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile who-we-are-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>Who We Are</div>
          </div>
          <ul class="nav-listings">
              <li><a href="http://gymsight.com/about#about_us">About Us</a></li>
              <li><a href="http://gymsight.com/about#trainer_bio">Trainer Bio</a></li>
              <li><a href="http://gymsight.com/about#gallery">Gallery</a></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile what-we-offer-home">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>What We Offer</div>
          </div>
          <ul class="nav-listings">
              <li><a href="http://gymsight.com/offerings">Training Programs</a></li>
              <li><a href="http://gymsight.com/frequently-asked-questions">Frequently-Asked Questions</a></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-4 medium-12 columns">
        <div class="nav-tile get-started-home" id="last-tile">
          <div class="nav-wrapper">
            <div class="nav-title"><span class="triangle-black tile-triangle"></span>Get Started</div>
          </div>
          <ul class="nav-listings">
              <li><a href="http://gymsight.com/contact#consultation_request">Request a Consultation</a></li>
              <li><a href="http://gymsight.com/contact#question">Ask a Question</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="footer-row">
  <footer class="home-footer large-12 columns">
    <hr>
  <div class="large-6 medium-6 columns">
    <section class="footer-contact-details">
      <div class="footer-header">Mission:</div>
      <p class="footer-text">Gymsight Training is a strength and conditioning facility located in the heart of Ballard, Seattle, WA. We offer group general athletic strength and conditioning, private training, and lifestyle/nutritional design. Our goal is to maximize your performance in the gym so that you are better prepared for your sport or work activity outside the gym.</p>
    </section>
  </div>
  <div class="large-4 medium-4 columns">
    <section class="footer-contact-details" id="middle-section">
      <div class="footer-header">Contact:</div>
      <p class="footer-text">
        (206) 902-6997<br>
        1107 NW 54th St. Seattle, WA 98107
      </p>
      <div id="other-inquiries">For all other Inquiries:</div>
      <a href="http://gymsight.com/contact#question_request">Ask a question</a>
    </section>
  </div>
  <div class="large-2 medium-2 columns">
      <div class="social-container">
        <%= link_to '', 'https://www.facebook.com/GymsightTraining', class: 'facebook social-link' %>
        <%= link_to '', 'javascript:void(0)', class: 'twitter social-link' %>
      </div>
  </div>
  <div class="large-12 columns">
    <div class="footer-info">All content &copy; Gymsight Training 2014. Website design & coding by shaun johnson & andre bautista All rights reserved</div>
  </div>
  </footer>
</div>
