<% provide(:title, 'What We Offer') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="index-wrapper">
      <div class="offerings-banner what-we-offer-banner">
        <div class="banner-text" id="WWO-text">What <br/>We Offer</div>
      </div>
      <%= render 'static_pages/offerings_partials/offerings_nav' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <section class="training-program general-athletic">
      <div class="program-copy">
        <h1>General Athletic Program</h1>
        <p>one to two sentence description of program, more information on breakout page.  Here's a second line of text hopefully.</p>
      </div>
      <a href="http://gymsight.herokuapp.com/offerings/general-athletic-program" class="offerings-link">More Information</a>
    </section>
    <section class="training-program big-mountain">
      <div class="program-copy">
        <h1>Big Mountain Program</h1>
      <p>one to two sentence description of program, more information on breakout page.  Here's a second line of text hopefully.</p>
      </div>
      <a href="javascript:void(0)" class="offerings-link">More Information</a>
    </section>
    <section class="training-program rock-and-ice">
      <div class="program-copy">
        <h1>Rock & Ice Program</h1>
        <p>one to two sentence description of program, more information on breakout page.  Here's a second line of text hopefully.</p>
      </div>
      <a href="javascript:void(0)" class="offerings-link">More Information</a>
    </section>
    <section class="training-program personal-training">
      <div class="program-copy">
        <h1>Personal Training</h1>
        <p>one to two sentence description of program, more information on breakout page.  Here's a second line of text hopefully.</p>
      </div>
      <a href="javascript:void(0)" class="offerings-link">More Information</a>
    </section>
    <section class="training-program semi-private">
      <div class="program-copy">
        <h1>Semi-Private Training</h1>
        <p>one to two sentence description of program, more information on breakout page.  Here's a second line of text hopefully.</p>
      </div>
      <a href="javascript:void(0)" class="offerings-link">More Information</a>
    </section>
  </div>
</div>
