<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="index-wrapper">
      <div class="banner-container what-we-offer-banner">
        <div class="banner-text">What <br/>We Offer</div>
      </div>
      <%= render 'static_pages/offerings_partials/offerings_nav' %>
    </div>
  </div>
</div>
