<% provide(:title, 'Membership Terms & Conditions') %>
<div class="row">
  <div class="small-12 large-12 medium-12 large-centered columns">
    <div class="banner-container get-started-banner">
    <div class="banner-text">Get <br/>Started</div>
    </div>
  </div>
</div>
<div class="row" id="terms-and-conditions">
  <div class="small-12 large-8 medium-8 columns">
    <section class="text-content">
      <h1>Membership Terms and Conditions</h1>
      <p>These policies have been designed in order to give the best possible experience to our members, and to allow us to efficiently and effectively administer each membership to the best of our ability, knowledge, available training time and equipment.</p>
      <p>These policies apply to all clients. We reserve the right to update these policies at any time. The term “membership” includes all group session memberships offered. The term “private training session” includes all individual private training, private Essentials Pipeline, and semi-private training offered.</p>
      <h3>All Memberships and Private training Sessions</h3>
      <ol>
        <li><span>All memberships and private training sessions are non-refundable, non-exchangeable, and non-transferrable. Just like plane tickets.</span></li>
        <li><span>All memberships and private training sessions must be paid in advance and in full.</span></li>
        <li><span>We reserve the right to cancel or reschedule classes and private training sessions at any time to accommodate holidays and or special events. No refunds or credit will be granted due to schedule changes.</span></li>
        <li><span>This tends to not happen much, but just in case, we reserve the right to:</span>
          <ol class="conditions-sublist">
            <li><span>Refuse you entry to class if you turn up more than 5 minutes late.</span></li>
            <li><span>Cancel your private training or private Essentials session if you turn up more than 15 minutes late (making the session subject to our cancellation policies as detailed below.)</span></li>
            <li><span>Kick you out of a group session if you do not adhere to the standards set forth in our Code of Conduct (CoC).</span></li>
            <li><span>Terminate your membership or private training sessions at any time if you are adamant about not following the CoC. Should it come to this, your pro rated balance will be refunded on your membership or private training sessions.</span></li>
          </ol>
        </li>
        <li>
          <span>All memberships are subject to the following rules and limitations:</span>
          <ol class="conditions-sublist">
            <li><span>You must sign in as soon as you arrive for every session you attend. This includes Essentials Pipeline, private training, semi private training, and all other training programs.</span></li>
            <li><span>You should review, understand, and adhere to the posted Code of Conduct.</span></li>
            <li><span>Participation in group training sessions is at the sole discretion of the Gymsight trainer. If we have concerns about your ability to safely participate in group programs, you may be required to train privately or semi privately.</span></li>
          </ol>
        </li>
      </ol>
      <h3>GENERAL ATHLETIC PROGRAM, ALL OTHER SEASONAL PROGRAM MEMBERSHIPS</h3>
        <ol>
          <li><span>All memberships will auto-renew unless you have specifically arranged with us to terminate your membership after a specific period of time.</span></li>
          <li><span>Memberships may be temporarily placed on hold. This is a courtesy to accommodate the occasional vacation, illness, or injury. To place a membership on hold, e-mail dewayne@gymsight.com including the start date and end date of your requested hold. All holds are subject to the following conditions:</span>
            <ol class="conditions-sublist">
              <li><span>The minimum hold period is one week.</span></li>
              <li><span>The maximum hold period is 3 months.</span></li>
              <li><span>The total maximum annual hold period is 3 months. Once 3 months of hold has been reached, the membership must either be reactivated, or it will be dropped and any remaining credit will be forfeited. If we do not hear from you regarding what you would like to do with your membership, it will be dropped and any remaining credit will be forfeited.</span></li>
              <li><span>Memberships may be placed on hold a maximum of 5 times per year regardless of hold duration.</span></li>
              <li><span>Extensions of an existing hold will be treated for administrative purposes as an additional hold. Holds may be terminated early at any time.</span></li>
              <li><span>There are no retroactive holds: you must let us know in advance if you wish to place your membership on hold.</span></li>
            </ol>
          </li>
          <li><span>Membership rates will be honored as long as the membership is maintained. This means that should our rates increase, you will not be subject to said increase unless you allow your membership to lapse.</span></li>
          <li><span>Membership lapses include but are not limited to:</span>
            <ol class="conditions-sublist">
              <li><span>Memberships dropped at the specific request of the member.</span></li>
              <li><span>Memberships dropped due to expiration of the maximum hold period.</span></li>
              <li><span>Memberships dropped due to non-payment. We will give you a grace period of two weeks to correct any billing issue (expired or invalid credit card) before memberships are dropped for this reason.</span></li>
            </ol>
          </li>
          <li><span>Should your Advanced level membership lapse for at least 3 months, but less than 6 months, OR should you not attend for that amount of time, you must refresh your skills prior to attending Advanced level sessions to ensure that you will be able to safely participate in the training. You can do this by either:</span>
            <ol class="conditions-sublist">
              <li><span>Attending a Advanced Test Out class or booking a private Test Out, and passing that Test Out.</span></li>
              <li><span>Completing a private review session at current private training rates.</span></li>
            </ol>
          </li>
          <li><span>Should your membership lapse for 6 months or more, OR should you not attend for 6 months or more, you must either:</span>
            <ol class="conditions-sublist">
              <li><span>Attend a Intermediate level Test Out session or book a private test out, and pass that Test Out.</span></li>
              <li><span>Attend Intermediate level classes until you are able to pass the Intermediate level Test Out.</span></li>
            </ol>
          </li>
          <li><span>Intermediate level membership confers the following benefits:</span>
            <ol class="conditions-sublist">
              <li><span>You may attend any Gymsight Training Intermediate level session, up to the number of sessions specified by your membership type.</span></li>
              <li><span>You may receive remote training in the event you are unable to get into the gym for training and or supplemental semi private training in the case you require separate injury maintenance or recovery training. Both remote and maintenance training is provided at the Gymsight trainer's discretion.</span></li>
            </ol>
          </li>
          <li>
            <span>Advanced level membership confers the following benefits:</span>
            <ol class="conditions-sublist">
              <li><span>You may attend any Gymsight Training Intermediate level, and or Advanced level sessions, up to the number of classes specified by your membership type.</span></li>
              <li><span>You may engage in separate skills training and/or mobility in the 20 minutes before or after any class subject to the following conditions:</span>
                <ol>
                  <li><span>Skills training may not interfere in any way with any group session or private training session — it must not be in the way of group or private training, and group and private training will have priority use of all equipment.</span></li>
                  <li><span>The primary trainer may veto separate skills training at any time.</span></li>
                  <li><span>For safety reasons, and because it is not a good approach to strength training, barbell weightlifting may not be completed during this time.</span></li>
                </ol>
              </li>
              <li><span>
                You may receive remote training in the event you are unable to get into the gym for training and or supplemental semi private training in the case you require separate injury maintenance or recovery training. Both remote and maintenance training is provided at the Gymsight trainer's discretion.</span>
              </li>
            </ol>
          </li>

        </ol>
    </section>
  </div>
  <div class="small-12 large-4 medium-4 columns">
    <section class="program-details">
      hello world
    </section>
  </div>
</div>
