<% provide(:title, 'Big Mountain') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content" id="program-text">
      <h1>Program Description</h1>
      <p>This seasonal training cycle is designed with the purpose of developing high level of
          fitness characteristic in mountain athletics as well as other activities in a mountainous
          environment. This programming is seasonal and uses a mesocycle periodization cycle
          that changes every few months with sport specific objectives such as ski mountaineering
          during winter months, mountain climbing through the summer, and base mountain
          fitness throughout the year. Mountain specific training has a weekly frequency of 6
          days a week and 2-3 training sessions a day. These are intense sessions and is strongly
          recommended that new clients spend at least a few months working through the development
          and general athletic training session before advancing to this program.
          These sessions are generally 1-1.5 hours in length.</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>3-5 Weeks</span>
      <h2>Session Frequency</h2>
      <span>6 Days/Week</span>
      <h2>Session Duration</h2>
      <span>:45-1:00</span>
    </section>
  </div>
</div>
