<% provide(:title, 'Big Mountain') %>
<div class="row">
  <div class="large-8 medium-8 columns">
    <div class="text-content program-text">
      <h1>Program Description</h1>
      <p>The Big Mountain Program caters its training to groups of individuals with seasonally dependent objectives, whether it’s free climbing El Cap, mountaineering in the Canadian Rockies, or ascending Mount Rainier. The structure of this program will be dependent upon the current season and focus on developing the high level of base fitness necessary and transferable to mountain athletics. Due to the training intensity, members are strongly encouraged to work through the <a class="breakout-link" href="http://gymsight.com/offerings/general-athletic-program">General Athletic Program</a> before advancing to the Big Mountain Program. </p>
    </div>
  </div>
  <div class="large-4 medium-4 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>Seasonal 3-5 Week Cycles</span>
      <h2>Session Frequency</h2>
      <span>6 Days/Week, 2 Sessions/Day</span>
      <h2>Session Duration</h2>
      <span>30-90min</span>
    </section>
  </div>
</div>
<div class="row">
  <div class="large-8 medium-8 columns">
    <%= image_tag "http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/bmp/bmp_image_1.jpg", alt: "big mountain exercise", class:"program-breakout-photo" %>
  </div>
</div>
