<% provide(:title, 'Big Mountain') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content" id="program-text">
      <h1>Program Description</h1>
      <p>These on-going sessions that new members can take part in prior to eventually rotating
into higher level training sessions. Though these sessions follow a more routine format
they are the least specific version of the training done at Gymsight because there
are so many different ways it can be implemented. These sessions typically run concurrent
with our regular sessions.</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>3-5 Weeks</span>
      <h2>Session Frequency</h2>
      <span>6 Days/Week</span>
      <h2>Session Duration</h2>
      <span>:45-1:00</span>
    </section>
  </div>
</div>
