<% provide(:title, 'Essentials Pipeline') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content program-text">
      <h1>Program Description</h1>
      <p>
        The methodology we follow at Gymsight Training focuses heavily on safety, proper movement, and effectiveness. The Essentials Pipeline, offered in a more fundamental setting, serves as an introductory course prior to beginning our other programs. Some of the movements are non-technical in nature, where others, such as Olympic lifting and certain bodyweight movements, involve a higher degree of skill, motor control, and technique. Regardless of the skill level, it is important that movements are done properly. </p>
      <p>
        This program is curriculum based but client driven, emphasizing exposure to our basic movements, proper technique, full range of motion, proper intensity, skill development, and Gymsight's <a class="breakout-link" href="http://gymsight.com/about#about_us"> training methodology</a>. This structure will also familiarize us with your goals, which enables us to fully understand your strengths and deficiencies, individualize your regimen, and help you prepare for our other programs.
      </p>
      <p>
        We understand that standard class times will not work for everyone, and some may opt for a more personal training experience.  If this is the case for you, please <a class="breakout-link" href="http://gymsight.com/contact#consultation_request">Contact Us</a> to schedule private sessions.
      </p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>3-9 Sessions</span>
      <h2>Session Frequency</h2>
      <span>3 Days/Week</span>
      <h2>Session Duration</h2>
      <span>1 Hour</span>
    </section>
  </div>
</div>
<div class="row">
  <div class="large-8 medium-8 columns">
    <%= image_tag "http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/ep/ep_image_1.jpg", alt: "essentials pipeline exercise", class:"program-breakout-photo" %>
  </div>
</div>
