<% provide(:title, 'General Athletic') %>
<div class="row">
  <div class="large-9 medium-9 small-12 columns">
    <div class="text-content" id="program-text">
      <h1>Program Description</h1>
      <p>The General Athletic Training sessions are designed to develop high level base fitness
        characteristic in a multitude of sports and activities moderate to high intensity in nature.
        GAT sessions are also built with team-work as well as physical and mental development
        in mind. Members train together under the guidance of a Gymsight instructor,
        but are individually responsible for quality of technique, efficiency of movement, sense
        of urgency, and the safe conduct of each activity. The program is designed around a
        3-5 week mesocycle rotating through strength, stamina, work capacity, unloading and
        maintenance training cycles. General Athletic Training has a weekly frequency of 6 days
        a week, 2-3 training sessions a day. These sessions are generally 45 minutes to 1 hour
        in length.</p>
    </div>
  </div>
  <div class="large-3 medium-3 small-12 columns">
    <div class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>3-5 Weeks</span>
      <h2>Session Frequency</h2>
      <span>6 Days/Week</span>
      <h2>Session Duration</h2>
      <span>:45-1:00</span>

    </div>
  </div>

</div>
