<% provide(:title, 'General Athletic') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content program-text">
      <h1>Program Description</h1>
      <p>This is a group based program designed for your "generalists" who want or need to develop a high level of foundational fitness necessary in a multitude of athletic activities, and for those who simply want to prepare for whatever comes next. Training under the guidance of a Gymsight trainer, these sessions are also designed to develop team-work, mental acuity, movement efficiency, and discipline in addition to strength and conditioning.</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>3-5 Weeks</span>
      <h2>Session Frequency</h2>
      <span>6 Days/Week, 2-3 Sessions/Day</span>
      <h2>Session Duration</h2>
      <span>~1.75 Hours</span>
    </section>
  </div>
</div>
<div class="row">
  <div class="large-8 medium-8 columns">
    <%= image_tag "http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/gat/gat_image_1.jpg", alt: "general athletic exercise", class:"program-breakout-photo" %>
  </div>
</div>
