<div class="offerings-nav">
  <div class="row">
    <div class="small-10 large-10 medium-10 small-centered columns">
      <nav>
        <div class="row">
          <div class="small-4 medium-4 large-4 columns">
            <ul>
              <li class="nav-heading">Programs</li>
              <li>General Athletic Program</li>
              <li>Big Mountain Program</li>
              <li>Rock & Ice Program</li>
            </ul>
          </div>
          <div class="small-4 medium-4 large-4 columns">
            <ul>
              <li class="nav-heading">Additional Options</li>
              <li>Personal Training</li>
              <li>Semi-private Training</li>
            </ul>
          </div>
          <div class="small-4 medium-4 large-4 columns">
            <ul>
              <li class="nav-heading">How It Works</li>
              <li>Methodology</li>
              <li>Frequently Asked Questions</li>
              <li>Essentials Pipeline</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
