<% provide(:title, 'Personal Training') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content program-text">
      <h1>Private Training</h1>
      <p>Personal Training offers individualized instruction for those who may want or need a more concentrated approach in order to reach a particular outcome. All personal training is client specific and based on individual, sport, or mission-specific goals, beginning with a consultation to assess personal objectives. After the consultation, we focus on correcting any imbalances if present, then develop work capacity that progressively increases in intensity to sharpen your body and performance capability.</p>
      <h1>Semi-Private Training</h1>
      <p>Semi-Private training offers personalized programming for small groups or teams of 2-6 that require a more individualized approach to reach their objectives. The clientto- trainer ratio is kept small to maintain a high level of efficiency and quality. This is a comprehensive approach that also targets team-work in addition to physical prowess, and mental acuity.</p>
      <p>Semi private training also provides programming for those individuals who have specific training requirements, but don’t want or need personal training sessions. While a specific program is provided, the training is still conducted with other members and under the guidance of a Gymsight instructor. These individuals are also individually responsible for quality of technique, efficiency of movement, and a sense of urgency and safe execution of each activity.
      </p>
      <p>Training cycles may also include nutritional guidance depending on individual and group needs.</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <span>Program Specifics based on individual objectives</span>
    </section>
  </div>
</div>
<div class="row">
  <div class="large-8 medium-8 columns">
    <%= image_tag "http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/pt/pt_image_1.jpg", alt: "personal training exercise", class:"program-breakout-photo" %>
  </div>
</div>
