<% provide(:title, 'Personal Training') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content" id="program-text">
      <h1>Program Description</h1>
      <p>Gymsight's Personal Training offers individualized instruction for those who may want or need a more concentrated approach in order to reach a particular outcome. All personal training is client specific and based on individual, sport, or mission-specific goals, beginning with a consultation to assess personal objectives. After the consultation, we focus on correcting any imbalances if present, then develop work capacity that progressively increases in intensity to sharpen your body and performance capability.</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program Specifics based on individual goals</h2>
    </section>
  </div>
</div>
