<% provide(:title, 'Run Strong') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content program-text">
      <h1>Program Description</h1>
      <p>The Run Strong Strength Program is general fitness tailored for endurance athletes with similar goals. This provides a framework for all Gymsight members who are currently preparing for an endurance race, or would like to learn more about strength training appropriate for runners. Sessions are determined by group levels of ability. The training intensity varies from low to moderate, but remains highly effective. </p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>3-5 Weeks</span>
      <h2>Session Frequency</h2>
      <span>6 Days/Week, 2-3 Sessions/Day</span>
      <h2>Session Duration</h2>
      <span>.75-1 Hour</span>
    </section>
  </div>
</div>
<div class="row">
  <div class="large-8 medium-8 columns">
    <%= image_tag "http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/rss/rss_image_1.jpg", alt: "run strong strength exercise", class:"program-breakout-photo" %>
  </div>
</div>
