<% provide(:title, 'Semi-Private Training') %>
<div class="row">
  <div class="large-8 medium-8 small-12 columns">
    <div class="text-content" id="program-text">
      <h1>Program Description</h1>
      <p>
        Our Semi-Private Group Training sessions are built for small groups, teams, or units that require a more individualized approach to reach their objectives. The team-to-trainer ratio is kept small to maintain a high level of efficiency and quality. This comprehensive approach targets team-work, physical prowess, and mental acuity. Depending on individual team needs, training cycles may also include nutritional guidance.
      </p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <section class="program-details">
      <h1>Details</h1>
      <h2>Program specifics based on group goal</h2>
    </section>
  </div>
</div>
