<% provide(:title, 'Rock & Ice') %>
<div class="row">
  <div class="large-9 medium-9 small-12 columns">
    <div class="text-content" id="program-text">
      <h1>Program Description</h1>
      <p>This climber training program is designed specifically for climbers or those with the
goal similar to climbing. These are the same sessions that our clients use in the gym
to train for all of the climbing we do. Be it, rock, ice, mixed, bouldering or alpine climbing
we design sessions for each one and progressions depending on individual levels
of ability. These are intense sessions and is strongly recommended that new clients
spend at least a few months working through the development and general athletic
training session before advancing to this program. These sessions are generally 45
minutes to 1 hour in length.</p>
    </div>
  </div>
  <div class="large-3 medium-3 small-12 columns">
    <div class="program-details">
      <h1>Details</h1>
      <h2>Program Length</h2>
      <span>3-5 Weeks</span>
      <h2>Session Frequency</h2>
      <span>6 Days/Week</span>
      <h2>Session Duration</h2>
      <span>1:00-1:30</span>
    </div>
  </div>
</div>
