<ul data-orbit>
  <li>
    <%= image_tag("Homepage/Homepage_Header_Image_1.png", alt: "banner image 1", class:"stretch-image") %>
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <img src="" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
