<ul class="orbit-ul" data-orbit >
  <li data-orbit-slide="headline-1" class="orbit-item orbit-image-1">
    <div class="slide-caption-container">
      <div class="slider-hl">Accomplish the unthinkable<br />begin with gymsight</div>
      <a class="offering-button" href="http://gymsight.herokuapp.com/offerings">
          <div class="button-triangle"></div>Explore Offerings
      </a>
    </div>
  </li>
  <li data-orbit-slide="headline-2" class="orbit-item orbit-image-2">
    <div class="slide-caption-container">
      <div class="slider-hl">Tailored training<br/>for the mountain or marathon.</div>
        <a class="offering-button" href="http://gymsight.herokuapp.com/offerings">
        <div class="button-triangle"></div>Take The first step
        </a>
    </div>
  </li>
  <li data-orbit-slide="headline-3" class="orbit-item orbit-image-3">
    <div class="slide-caption-container">
      <div class="slider-hl">No limits<br/>No fear.</div>
        <a class="offering-button" href="http://gymsight.herokuapp.com/offerings">
        <div class="button-triangle"></div>Take The first step
        </a>
    </div>
  </li>
  <li data-orbit-slide="headline-4" class="orbit-item orbit-image-4">
    <div class="slide-caption-container">
      <div class="slider-hl">Your ambition<br/>has a new home.</div>
        <a class="offering-button" href="http://gymsight.herokuapp.com/offerings">
        <div class="button-triangle"></div>Take The first step
        </a>
    </div>
  </li>
</ul>
