<div id="slideShow">
   <!-- FIRST SLIDE -->
   <div data-in="left:-100;opacity:.2;duration:500" data-out="top:1000;opacity:0;">
      <%= image_tag("Homepage/Homepage_Banner_Image_ph_a_retina.jpg", alt: "banner image 1", class: "banner-image") %>
      <div data-in="top:-100;delay:1550;duration:550">
        <h1>hello world</h1>
      </div>
  </div>
  <div data-in="left: -100;opacity:.2;duration:500" data-out="top:1000;opacity:0;">
    <%= image_tag("Homepage/Homepage_Banner_Image_ph_b_Retina.jpg", alt: "banner image 2", class: "banner-image") %>
    <div data-in="top:-100;delay:1550;duration:550">
      <h1>hello world</h1>
    </div>
  </div>
</div>
