<ul class="orbit-ul" data-orbit >
  <li data-orbit-slide="headline-1" class="orbit-item orbit-image-1">
    <div class="slide-caption-container">
      <div class="slider-hl">Stronger, faster,<br />better than yesterday</div>
      <a class="offering-button" href="http://gymsight.com/about#about_us">
          Take the first step
      </a>
    </div>
  </li>
  <li data-orbit-slide="headline-2" class="orbit-item orbit-image-3">
    <div class="slide-caption-container">
      <div class="slider-hl">train hard,<br/>no limits</div>
        <a class="offering-button" href="http://gymsight.com/offerings">
        Explore Offerings
        </a>
    </div>
  </li>
  <li data-orbit-slide="headline-3" class="orbit-item orbit-image-2">
    <div class="slide-caption-container">
      <div class="slider-hl">Tailored Training<br/>for the mountain or marathon.</div>
        <a class="offering-button" href="http://gymsight.com/about#about_us">
        Learn about Gymsight
        </a>
    </div>
  </li>
  <li data-orbit-slide="headline-4" class="orbit-item orbit-image-4">
    <div class="slide-caption-container">
      <div class="slider-hl">train hard,<br/>no limits</div>
        <a class="offering-button" href="http://gymsight.com/offerings">
        Explore Offerings
        </a>
    </div>
  </li>
</ul>
