<ul class="orbit-ul" data-orbit >
  <li data-orbit-slide="headline-1" class="orbit-item orbit-image-1">
    <div class="slide-caption-container">
      <div class="slider-hl">Tailored Training <br />For the mountain or marathon</div>
      <a class="slider-link" href="javascript:void(0)">
          <div class="banner-triangle"></div>Explore Offerings
      </a>
    </div>
  </li>
  <li data-orbit-slide="headline-2" class="orbit-item orbit-image-2">
    <div class="slide-caption-container">
      <div class="slider-hl">Accomplish the unthinkable, <br/> Begin with gymsight</div>

        <a class="slider-link" href="javascript:void(0)">
        <div class="banner-triangle"></div>Take The first step
        </a>

    </div>
  </li>
</ul>
