.about-navigation {
  li {
    display: inline-block;
  }
}


/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}


/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {

}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) {

}

/* XXL Screens */
@media only screen and (min-width: 120.063em) { }
