.about-navigation {
  margin: 1em 0;
  font-size: 0.8em;
  ul  {
    margin-left: 0;
  }
  li {
    color: rgba(255,255,255,.8);
    display: inline-block;
    width: 30%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 2%;
    background-color: rgba(255,255,255,.1);
    transition: all .4s ease-out;
    &:hover{
      color: #222222;
      background-color: rgba(255,163,0,1);
    }
  }
}

.about-content  {
  color: rgba(255,255,255,.8);
  padding: .5em 1.5em 3em 1.5em;
  background-color: rgba(255,255,255,.1);
  h3{
    color: rgba(255,255,255,.8);
  }
}




/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}


/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {

}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) {

}

/* XXL Screens */
@media only screen and (min-width: 120.063em) { }
