@import "variables";
$headshot-height-lg:  382px;

//small screens
@media only screen {
  .who-we-are-banner  {
    background-image: url("http://d1glu0vbbg0go6.cloudfront.net/Who_We_Are/wwa_banner.jpg");
  }

  .gymowner-header  {
    margin-bottom: 0;
  }

  #about-us  {
    a  {
      color: $gymsight-orange;
    }
  }

  h2.header-description  {
    font-family:  'stratum2-regular';
    color: $gymsight-orange;
    font-size:22px;
  }

  #trainer_bio .program-details  {
    margin-top: 15px;
  }

  #certifications  {
    span  {
      display: block;
    }
  }

  .about  {
    margin: 10px 0 !important;
  }

  .about dd > a  {
    font-family: stratum2-medium;
    margin-right: 10px;
    font-size: 14px;
    width: 93px;
    height: 26px;
    line-height: 27px;
    padding: 0px;
    text-align:center;
  }

  #last-tab  {
    margin-right: 0;
  }

  .tabs.about dd.active a, .tabs.contact dd.active a  {
    color: rgb(51,51,51);
  }

  .text-content  {
    font-size: 14px;
    line-height: 24px;
    padding: 15px 10px 15px 10px;
    background-color: rgba(255,255,255,.1);
    h1  {
      font-size: 24px;
    }
    h3  {
      font-size: 20px;
    }
  }

  .tabs-content > .content  {
    padding-top: 0px;
  }

  #about-us  {
    margin-bottom: 10px;
  }

  .gym-photos  {
    font-family: stratum2-regular;
    position: relative;
    img  {
      width: 100%;
    }
    figcaption {
      margin: 15px 0;
      font-size: 16px;
      width: 90%
    }
    .next-img  {
      position: absolute;
      right: 0px;
    }
    .prev-img  {
      @extend .next-img;
      right: 30px;
    }
  }

  #gymowner-headshot  {
    margin-top: .75em;
  }

  .center-image  {
    text-align: center;
  }
}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) {
  .text-content  {
    padding: 15px 25px 20px 25px;
    h1  {
      font-size: 28px;
    }
    h2  {
    font-size: 24px;
    }
    h3  {
      font-size: 21px;
    }
    h4  {
      font-size: 20px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }

  .tabs-content  {
    margin-bottom: 80px;
  }

  .about dd > a  {
    //padding: .3em 2.75em;
    margin-right: 15px;
    font-size: 18px;
    width: 140px;
    text-align:center;
    padding: 0;
    height: 30px;
    line-height: 31px;
  }

  .about  {
    margin: 15px 0 !important;
  }

  #about-us  {
    margin-bottom: 15px;
    height: auto;
  }

  #gymowner-headshot  {
    width: 100%;
    margin-top: 0;
  }
}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  .gym-photos  {
    img  {
      width: 100%;
    }
    figcaption {
      margin: 20px 0;
      font-size: 18px ;
    }
  }

  .tabs-content  {
    margin-bottom: 100px;
  }

  .gymowner-header  {
    font-size: 28px;
    line-height: 33.6px;
  }

  #trainer_bio .program-details  {
    margin-top: 20px;
  }

  #about-us  {
    margin-bottom: 20px;
  }

  .text-content  {
    padding: 20px 25px 20px 25px;
  }

  .about dd > a  {
    margin-right: 20px;
  }
  .about  {
    margin: 20px 0 !important;
  }
}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) { }

/* XXL Screens */
@media only screen and (min-width: 120.063em) { }
