/*.about-navigation {
  margin: 1em 0;
  font-size: 0.8em;
  ul  {
    margin-left: 0;
  }
  li {
    color: rgba(255,255,255,.8);
    display: inline-block;
    width: 30%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 2%;
    background-color: rgba(255,255,255,.1);
    transition: all .4s ease-out;
    &:hover{
      color: #222222;
      background-color: rgba(255,163,0,1);
    }
  }
}

.about-content  {
  color: rgba(255,255,255,.8);
  padding: .5em 1.5em 3em 1.5em;
  background-color: rgba(255,255,255,.1);
  h3{
    color: rgba(255,255,255,.8);
  }
}*/

.bio-content  {
  width: 70%;
  margin-right: 2em;
  float: left;
}

.bio-asset  {
  width: 25%;
}




//small screens
@media only screen {
  .tabs  {
    margin: .75em 0 !important;
  }
  .tabs dd > a  {
    padding: .3em 2em;
    margin-right: .50em;
    font-size: 0.75em;
  }
  .tabs dd.active a  {
    color: #222222;
  }
  .text-content  {
    h3  {
      color: rgba(255,255,255,.8);
    }
    padding: .25em .75em 1em .75em;
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,.8);
  }
  .tabs-content > .content  {
    padding-top: 0px;
  }

  #about-us  {
    margin-bottom: .75em;
  }

  .asset-content  {
    img  {
      width: 100%;
    }
    figcaption {
      margin: .50em 0;
      font-size: .75em;
    }
  }

  #gymowner-headshot  {
    margin-top: .75em;
  }

  .center-image  {
    text-align: center;
  }
/*  .age  {
    float: left;
  }
  .hometown  {
    float: right;
  }
  .hobbies  {
    display: block;
    clear: both;
  }
  .image-caption  {
    span  {
      color: #ffa300;
    }
  }*/

}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) {
  .text-content  {
    padding: .50em 1.25em 2em 1.25em;
  }

  .tabs dd > a  {
    padding: .3em 2.75em;
    margin-right: .75em;
    font-size: 1em;
  }

  .tabs  {
    margin: 1em 0 !important;
  }

  #about-us  {
    margin-bottom: 1em;
  }

  #gymowner-headshot  {
    width: 100%;
    margin-top: 0;
  }

}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) { }

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) { }

/* XXL Screens */
@media only screen and (min-width: 120.063em) { }
