@import "variables";
$headshot-height-lg:  405px;

//small screens
@media only screen {
  .who-we-are-banner  {
    background-image: asset-url("Interior_Banner_Images/wwa_banner.jpg", image);
  }

  .tabs  {
    margin: .75em 0 !important;
  }

  .tabs dd > a  {
    margin-right: 1.0em;
    font-size: 0.75em;
    width: 93px;
    height: 26px;
    line-height: 26px;
    padding: 0px;
    text-align:center;
    transition: all .2s linear;
    &:hover  {
      background-color: $gymsight-orange;
      color: #222222;
    }
  }

  #last-tab  {
    margin-right: 0;
  }

  .tabs dd.active a  {
    color: #222222;
  }

  .text-content  {
    h3  {
      color: rgba(255,255,255,.8);
    }
    padding: .25em .75em 1em .75em;
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,.8);
  }

  .tabs-content > .content  {
    padding-top: 0px;
  }

  #about-us  {
    margin-bottom: .75em;
  }

  .asset-content  {
    img  {
      width: 100%;
    }
    figcaption {
      margin: .50em 0;
      font-size: .75em;
    }
  }

  #gymowner-headshot  {
    margin-top: .75em;
  }

  .center-image  {
    text-align: center;
  }
/*  .age  {
    float: left;
  }
  .hometown  {
    float: right;
  }
  .hobbies  {
    display: block;
    clear: both;
  }
  .image-caption  {
    span  {
      color: $gymsight-orange;
    }
  }*/

}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) {
  .text-content  {
    padding: .50em 1.25em 2em 1.25em;
  }

  .tabs dd > a  {
    //padding: .3em 2.75em;
    margin-right: 1em;
    font-size: 1em;
    width: 150px;
    text-align:center;
    padding: 0;
    height: 35px;
    line-height: 35px;
  }

  .tabs  {
    margin: 1em 0 !important;
  }

  #about-us  {
    margin-bottom: 1em;
  }

  #gymowner-headshot  {
    width: 100%;
    margin-top: 0;
  }

}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  #gymowner-bio  {
    height: $headshot-height-lg;
  }
}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) { }

/* XXL Screens */
@media only screen and (min-width: 120.063em) { }
