@import "variables";
$headshot-height-lg:  382px;

//small screens
@media only screen {
  .who-we-are-banner  {
    background-image: asset-url("Interior_Banner_Images/wwa_banner.jpg", image);
  }

  .tabs  {
    margin: 10px 0 !important;
  }

  .tabs dd > a  {
    margin-right: 10px;
    font-size: 0.75em;
    width: 93px;
    height: 26px;
    line-height: 26px;
    padding: 0px;
    text-align:center;
    transition: all .2s linear;
    &:hover  {
      color: rgb(51,51,51);
    }
  }

  #last-tab  {
    margin-right: 0;
  }

  .tabs dd.active a  {
    color: rgb(51,51,51);
  }

  .text-content  {
    font-size: 14px;
    line-height: 24px;
    padding: 15px 10px 15px 10px;
    background-color: rgba(255,255,255,.1);
    h1  {
      font-size: 24px;
    }
    h3  {
      margin-bottom: 20px;
      line-height: 36px;
    }
  }

  .tabs-content > .content  {
    padding-top: 0px;
  }

  #about-us  {
    margin-bottom: .75em;
  }

  .asset-content  {
    img  {
      width: 100%;
    }
    figcaption {
      margin: .50em 0;
      font-size: .75em;
    }
  }

  #gymowner-headshot  {
    margin-top: .75em;
  }

  .center-image  {
    text-align: center;
  }
/*  .age  {
    float: left;
  }
  .hometown  {
    float: right;
  }
  .hobbies  {
    display: block;
    clear: both;
  }
  .image-caption  {
    span  {
      color: $gymsight-orange;
    }
  }*/
}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) {
  .text-content  {
    padding: 20px 25px 20px 25px;
    margin-bottom: 80px;
  }

  .tabs dd > a  {
    //padding: .3em 2.75em;
    margin-right: 20px;
    font-size: 18px;
    font-family:  stratum2-medium;
    width: 140px;
    text-align:center;
    padding: 0;
    height: 30px;
    line-height: 30px;
  }

  .tabs  {
    margin: 20px 0 !important;
  }

  #about-us  {
    margin-bottom: 1em;
    height: 220px;
  }

  #gymowner-headshot  {
    width: 100%;
    margin-top: 0;
  }

}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  #gymowner-bio  {
    height: $headshot-height-lg;
  }

  .text-content  {
    margin-bottom: 100px;
    height: 471px;
  }
}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) { }

/* XXL Screens */
@media only screen and (min-width: 120.063em) { }
