@import  "variables";

// Small screens
@media only screen {
  .alert-box  {
    background-color: rgb(35,35,35);
    border-color: rgb(255,164,0);
  }
  .contact-button  {
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    line-height: 30px;
    background-color: rgb(35,35,35);
    color: white;
    font-family: stratum2-regular;
    font-size: 18px;
    float: right;
    border: none;
    text-align: left;
    padding-left: 25px;
    transition: all .2s linear;
    background-image: asset-url("site_wide/Triangle_Orange.png", image);
    background-position: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    &:hover  {
      background-image: asset-url("site_wide/Triangle_Black.png", image);
      background-color: $gymsight-orange;
      color: black;
    }
  }

  form  {
    margin-top: 10px;
    [class*="column"] + [class*="column"]:last-child  {
      float: left;
    }
    input  {
      height: 30px !important;
      margin-bottom: 10px !important;
      color: rgb(89,89,89);
    }
    select  {
      height: 30px;
      padding: 0 0 0 8px;
      color: rgb(89,89,89);
      margin-bottom: 0;
    }
  }

  textarea  {
    height:75px;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgb(89,89,89);
  }

  .form-link  {
    font-style: italic;
    font-size: 14px;
    font-family: 'Open Sans';
    color: $gymsight-orange;
    &:hover  {
      color: $gymsight-orange;
    }
  }

  .form-headline  {
    display: inline-block;
    font-size: 14px;
    font-family: 'Open Sans';
  }

  .faq-headline  {
    font-size: 20px;
    background-color: black;
    padding: 15px;
    margin: 15px 0;
    a  {
      font-family: 'Open Sans';
      font-style: italic;
      color: $gymsight-orange;
      font-size: 14px;
    }
  }

  .question-text  {
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
  }

  .accordion.faq  {
    margin-bottom: 150px;
    dd > a  {
      padding: 0px;
      position: relative;
      color: white;
      margin-top: 15px;
      margin-left: 15px;
    }
    dd.active .button-triangle {
      content: asset-url("site_wide/Triangle_Orange.png", image) ;
      -webkit-transform:rotate(90deg);
      -moz-transform:rotate(90deg);
      -o-transform:rotate(90deg);
    }
    .button-triangle  {
      top: 6px;
      position: absolute;
      display: inline-block;
      margin-right: 8px;
      width: 10px;
      height: 11px;
      content: asset-url("site_wide/Triangle_White.png", image);
    }
    dd.active a  {
      background-color: transparent;
    }
    .content.active  {
      font-family: 'Open Sans';
      font-size: 14px;
      background-color: transparent;
      border-left: 4px solid $gymsight-orange;
      margin-left: 37px;
      margin-top: 15px;
      padding: 0 0 0 15px;
    }
    a  {
      font-size: 18px;
      background-color: transparent;
      &:hover  {
        background-color: transparent;
      }
    }
  }

  .contact  {
    border-bottom: solid 4px $gymsight-orange;
    margin-top: 15px;
    dd > a {
      color: rgb(217,217,217);
      background-color: rgba(250,250,250,.10);
      font-family: stratum2-regular;
      font-size: 14px;
      text-align: center;
      padding: 0;
      width: 135px;
      margin-right: 15px;
      height: 30px;
      line-height: 32px;
      transition: all .2s linear;
      &:hover  {
        color: rgb(51,51,51);
        background-color: $gymsight-orange
      }
     dd.active > a  {
      background-color: $gymsight-orange;
      }
    }
  }

  #contact-tabs-content  {
    padding: 0 15px 15px 15px;
    background-color: black;
    margin-bottom: 15px;

  }

  .contact-container  {
    font-family: stratum2-regular;
    line-height:24px;
    padding: 15px;
    height: 250px;
    background-color: rgba(0,0,0,.3);
    background-image:  asset-url("Get_Started/gs_map.jpg", image);
    background-size: cover;
    position: relative;
    .contact-button  {
      position:absolute;
      bottom: 25px;
      background-color:rgba(255, 255, 255, 0.1);
      &:hover  {
        background-color: #ffa400;
      }
    }
    h3  {
      margin-bottom: 12px;
    }
  }

  .contact-details  {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .contact-caption  {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .form-headline  {
    margin-top: 15px;
    margin-bottom: 10px;
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
#map-button  {
  position: static;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .contact-button  {
    width: 170px;
    height: 30px;
  }

  textarea  {
    margin-bottom: 30px;
    height: 100px;
  }

  .faq-headline  {
      font-size: 24px;
    a  {
      font-size: 14px;
    }
  }

  .question-text  {
    font-size: 18px;
  }

  .accordion.faq  {
    .content.active  {
      padding: 0 0 0 25px;
      margin-left: 19px;
    }
    dd > a {
      margin-left: 15px;
    }
  }

  /* tabs styling */
  .contact  {
    margin-top: 40px;
    dd > a {
      font-size: 16px;
      line-height: 38px;
      padding: 0;
      height: 35px;
      width: 200px;
    }
  }

  #contact-tabs-content  {
    margin-bottom: 80px;
    padding: 0 25px 25px 25px;
  }

  .contact-container  {
    padding: 15px;
    margin-top: 75px;
    height: 466px;
  }

  .form-headline  {
    margin-top: 18px;
    margin-bottom: 12px;
  }

  #question-reminder  {
    margin-bottom: 3px;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #map-button  {
    width: 140px;
  }

  } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .accordion.faq  {
    dd > a  {
      margin-top: 25px;
      margin-left: 25px;
    }
    .content.active  {
      margin-left: 29px;
    }
  }

  .faq-headline  {
    padding: 20px 25px 25px 25px;
  }

  .contact  {
    dd > a  {
      font-size: 18px;
      line-height: 42px;
      width: 220px;
      height: 40px;
    }
  }

  .contact-container  {
    padding: 25px;
    margin-top: 80px;
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
