/* Stratum */
@font-face  {
  font-family: 'stratum2-medium';
  src: url('/assets/Stratum/Stratum2-Medium.otf') format('eot');
}

@font-face  {
    font-family: 'stratum2-regular';
    src: url('/assets/Stratum/Stratum2-Regular.otf') format('eot');
}


/* open sans */

@font-face  {
    font-family: 'sans-regular';
    src: url('/assets/open-sans/OpenSans-Regular.ttf');
}

@font-face  {
    font-family: 'sans-bold';
    src: url('/assets/open-sans/OpenSans-Bold.ttf');
}
