/* Stratum */
@font-face  {
  font-family: 'stratum2-medium';
  src: font-url('Stratum/Stratum2-Medium.otf') format('eot');
}

@font-face  {
    font-family: 'stratum2-regular';
    src: font-url('Stratum/Stratum2-Regular.otf') format('eot');
}

@font-face  {
    font-family: 'stratum2-bold';
    src: font-url('Stratum/Stratum2-bold.otf') format('eot');
}

@font-face {
font-family: 'Open Sans', sans-serif;
}

