@font-face  {
  font-family: 'stratum2-medium';
  src: url('/assets/Stratum/Stratum2-Medium.otf') format('eot');
}

@font-face  {
    font-family: 'stratum2-regular';
    src: url('/assets/Stratum/Stratum2-Regular.otf') format('eot');
}


