// Small screens
@media only screen {
  .next-img  {
    background-image: asset-url("site_wide/image_arrow_forward_on.png", image);
    width: 12.5px;
    height: 30.5px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .prev-img  {
    @extend .next-img;
    background-image: asset-url("site_wide/image_arrow_back_on.png", image);
  }

  .media.active, .tag.active  {
    color: white;
  }

  .fancybox  {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
  }

  .about.fixed  {
    position: fixed;
  }

  time  {
    font-size: 12px;
  }

  .photo-date  {
    font-family: stratum2-regular;
    font-size: 12px;
    line-height: 36px;

  }

  .item  {
    color: black;
    font-family: stratum2-regular;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 220px;
    height:280px;
    img  {
      max-width: 100%;
      height: auto;
    }
    nav  {
      position: absolute;
      bottom: 0;
      z-index: 5;
      margin-left: 25px;
    }
  }

  .overlay  {
    opacity: 0;
    background-color: rgba(246,162,26,.85);
    position: absolute;
    width: 220px;
    height: 280px;
    bottom: 0;
     h2  {
      color: black;
      margin-bottom: 0px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  .picture-details  {
    width: 195px;
    bottom: 0;
    position: absolute;
    margin: 0px 0px 25px 25px;
  }
  #isotope-container  {
    width: 100%;
    min-height: 560px;
  }
  .gallery-nav-button  {
    padding-left: 25px;
    background-color: rgb(217,217,217);
    text-transform: uppercase;
    color: black;
    font-family: stratum2-medium;
    height: 26px;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    .triangle-filter  {
      height: 11px;
      width: 8px;
      background-size: 100%;
      top: 7.5px;
      position: absolute;
      left: 10px;
      background-image: asset-url("site_wide/Triangle_Black.png", image);
      -webkit-transition: 0.4s all;
      -moz-transition: 0.4s all;
      -o-transition: 0.4s all;
      transition: all 0.4s;
    }
  }

  .gallery-nav-button.active  {
    background-color: rgb(255,164,0);
    .triangle-filter  {
      position: absolute;
      left: 10px;
      -webkit-transform:rotate(90deg);
      -moz-transform:rotate(90deg);
      -o-transform:rotate(90deg);
    }
  }

  .gallery-nav  {
    width: 299px;
    margin-bottom: 10px;
    position: relative;
  }

  .filters {
    z-index: 6;
    position: absolute;
    width: 100%;
    display: none;
    background-color: rgba(0,0,0,.85);
    overflow: auto;
    padding: 20px 0 20px 25px;
    ul {
      float: left;
    }
    li  {
      cursor: pointer;
    }
  }

  .tags  {

  }
  .media-type  {
    margin-left: 80px;
  }

  .nav-header  {
    color: rgb(217,217,217);
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 18px;
    &:after  {
      padding-left: 5px;
      content: "/";
      color: rgb(255,164,0);
    }
  }

} /* Define mobile styles */
@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .item  {
    margin-left: 0px;
  }

  .item:nth-child(even)  {
    height: 220px;
    overflow:hidden;
    .overlay  {
      height: 220px;
    }
  }
  .gallery-nav-button  {
    height: 30px;
    line-height: 32px;
    .triangle-filter  {
      top: 10px;
    }
  }

  .gallery-nav  {
    width: 450px;
    margin-bottom: 20px;
  }

} /* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .gallery-nav-container  {
    margin-top: -50px;
  }
} /* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
