.triangle {
  width:9px;
  height: 11px;
  background-image: asset-url("site_wide/Triangle_Black.png", image);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: top;
  margin: 0 5px 2px 10px;
}

.nav-tile  {
  position:relative;
  display: block;
  overflow:hidden;
  margin-right: 10px;
  .image-title {
    background-color: rgba(216,216,216,.95);
    transition: background-color .4s ease-out;
  }
  .nav-details  {
    transition: background-color .4s ease-out;
    position:absolute;
    bottom: 0;
    width: 100%;
    ul {
      max-height: 0;
      margin-bottom: 0px;
      padding-left: 25px;
      list-style: none;
      li {
        padding-top: 5px;
        transition: color .2s ease-out;
      }
    }
  }
}

.nav-tile:hover {
  .nav-details {
    background-color: rgba(0,0,0,0.8);
  }
  .image-title {
    background-color: rgba(255,163,0,1);
  }
  li {
    color: rgba(255,163,0,1);
    &:hover  {
      color: white;
    }
  }
}

.nav-image  {
  display:block;
  width: 100%;
  z-index: -1;
}

.nav-tile h5  {
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: rgba(216,216,216,.95);
}
