#slideShow  {
  height: 250px;
  width: 100%;
  margin-bottom: .7em;
  overflow: hidden;
}


$nav-title-height: 40px;

$image-tileX-xl: 318px;
$image-tileY-xl: 180px;

$image-tileX-l: 325px;
$image-tileY-l: 180px;

$image-tileX-m: 325px;
$image-tileY-m: 180px;


.triangle {
  width:9px;
  height: 11px;
  background-image: asset-url("site_wide/Triangle_Black.png", image);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: top;
  margin: 0 5px 2px 10px;
  -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    overflow:hidden;
}

.nav-tile  {
  position:relative;
  display: block;
  overflow:hidden;
  .image-title {
    background-color: rgba(216,216,216,.95);
    transition: background-color .4s ease-out;
    height: $nav-title-height;
  }
  .nav-details  {
    pointer-events: none;
    transition: all .4s ease-out;
    position: absolute;
    bottom: 0;
    height:$nav-title-height;
    width: 100%;
    ul {
      margin-top: $nav-title-height + 5px;
      max-height: 0;
      margin-bottom: 0px;
      padding-left: 25px;
      list-style: none;
      li {
        padding-top: 5px;
        transition: color .2s ease-out;
      }
    }
  }
}

.nav-tile:hover {
  .nav-details {
    background-color: rgba(0,0,0,0.8);
  }
  .image-title {
    background-color: rgba(255,163,0,1);
  }
  li {
    color: rgba(255,163,0,1);
    &:hover  {
      color: white;
    }
  }
  .triangle{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
  }
}

.nav-image  {
  display:block;
  width: auto;
  z-index: -1;
  height: 100%;
}

.image-title  {
  width: 100%;
  position: absolute;
  height: $nav-title-height;
  line-height: $nav-title-height;
}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .nav-tile  {
    width: $image-tileX-m;
    height: $image-tileY-m;
  }

  .nav-tile:hover {
    .nav-details {
      height: $image-tileY-m;
    }
  }
}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  .nav-tile  {
    width: $image-tileX-l;
    height: $image-tileY-l;
  }

  .nav-tile:hover {
    .nav-details {
      height: $image-tileY-l;
    }
  }
}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 61.063em) {
  .nav-tile  {
    width: $image-tileX-xl;
    height: $image-tileY-xl;
  }

  .nav-tile:hover {
    .nav-details {
      height: $image-tileY-xl;
    }
  }
}

/* XXL Screens: min-width: 1921px */
@media only screen and (min-width: 120.063em) { }
