$image-tileX-xl: 318.328px;
$image-tileY-xl: 140px;

$image-tileX-l: 318.328px;
$image-tileY-l: 140px;

$nav-title-height: 35px;

$gymsight-orange: #ffa300;

/* Orbit Styles */
li.orbit-image-1 {
  background-image: asset-url("Homepage/Homepage_Banner_Image_ph_a_retina.jpg", image);
  background-size: cover;
}
li.orbit-image-2  {
  background-image: asset-url("Homepage/Homepage_Banner_Image_ph_b_Retina.jpg", image);
  background-size: cover;
}

.orbit-container:hover .orbit-timer > span {
  display: none;
}

.who-we-are-home  {
  background-image: asset-url("Homepage/Homepage_Image_Who_We_Are_ph_retina.jpg", image);
}

.what-we-offer-home  {
  background-image: asset-url("Homepage/Homepage_Image_What_We_Offer_ph_Retina.jpg", image);
}

.get-started-home  {
  background-image: asset-url("Homepage/Homepage_Image_Get_Started_p_retina.jpg", image);
}

.orbit-container .orbit-timer  {
  position: static ;
  width: 100% ;
  height: 7px ;

  .orbit-progress {
    top: 0 ;
    right: 0 ;
    height: 7px ;
    //background-color: rgba(216, 216, 216, 0.95) ;
  }
}

// Small screens
@media only screen {
  .orbit-ul .slide-caption  {
    display: none;
  }

  .orbit-container .orbit-next, .orbit-container .orbit-prev  {
    content: asset-url("Homepage/Homepage_Banner_Next_Arrow_on_retina.png", image);
    width: 16px !important;
    height: 62px !important;
  }
  .orbit-next  {
    margin-right: 20px;
  }
  .orbit-prev  {
    margin-left: 20px;
    display: none !important;
  }

  .orbit-container .orbit-next:hover, .orbit-container .orbit-prev:hover   {
    content: asset-url("Homepage/Homepage_Banner_Next_Arrow_off_retina.png", image);
    background-color: transparent;
  }

  .orbit-prev  {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  }

  ul.orbit-ul, li.orbit-item {
  height: 175px;
  }

  .orbit-container  {
    margin-bottom: 0.9375rem - 0.438rem;
    margin-top: 0.9375rem - 0.438rem;
  }

  .triangle-black  {
    background-image: asset-url("site_wide/Triangle_Black.png", image);
    background-repeat: no-repeat;
    display: inline-block;
    overflow:hidden;
    width: 10px;
    height: 11px;
  }

  .triangle-orange  {
    background-image: asset-url("site_wide/Triangle_Orange.png", image);
    background-repeat: no-repeat;
    display: inline-block;
    overflow:hidden;
    width: 10px;
    height: 11px;
  }

  /* Accordion Mobile Nav  */
  .accordion  {
    dd  {
      border-bottom: solid 1px rgba(0, 0, 0, 0.8);
      .content {

        padding: 0 0 0 5px;
      }
    }
    ul  {
      list-style: none;
      margin-bottom: 0;
      margin-left: 0px;
      border-left: solid 4px rgba(255,163,0, 1);
    }
    li  {
      height: 39px;
      line-height: 39px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.8);
      a  {
      position: absolute;
      width: 100%;
      height: 39px;
      padding-left: 10px;
      color: rgba(255, 255, 255, 0.8);
      font-size: .9rem;
      transition: color .15s linear;
      &:visited  {
        color: white;
      }
      &:hover  {
        color: rgba(255,163,0, 1);
      }
    }
    }
    .content > ul > li:nth-child(3)  {
      border-bottom: none;
    }
  }
  .home-footer  {
    margin-top: 0.9375rem;
    text-align: right;
    div  {
      font-size: 10px;
      display: inline-block;
      height: 29px;
      line-height: 29px;
      vertical-align: top;
    }
    .social-link {
      margin-left:5px;
    }
  }
}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) {
  .orbit-container  {
    margin-top: 0;
  }

  ul.orbit-ul, li.orbit-item {
  height: 300px;
  }

  .orbit-ul .slide-caption  {
    display: block;
    width: 600px;
    height: 120px;
    margin-left: 25px;
    margin-top: 90px;
    color: rgba(255,255,255,.85);
    .slider-hl  {
      font-size: 30px;
      line-height: 1.2;
      height: 70px;
      margin-bottom: 15px;
    }
    .slider-link  {
      position: absolute;
      line-height: 33px;
      width: 210px;
      height: 33px;
      line-height: 33px;
      font-size: 18px;
      transition: all .3s linear;
      .banner-triangle  {
        margin-right: 5px;
        display:inline;
        content: asset-url("site_wide/Triangle_Orange.png", image);
      }
      &:hover  {
        background-color: $gymsight-orange;
        .banner-triangle  {
          content: asset-url("site_wide/Triangle_Black.png", image);
        }
      }
      a  {
        color: rgba(255,255,255,.85);
        position: absolute;
        width: 210px;
        left: 0;
        padding-left: 10px;
        &:hover  {
          background-color: transparent;
          color: black;
        }
      }
    }
  }

}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  .tile-triangle  {
    margin: 12px 5px 2px 10px;
    background-position: center;
  }

  .nav-tile  {
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    position:relative;
    z-index: 1;
    display: block;
    width: $image-tileX-l;
    height: $image-tileY-l;
    margin-bottom: 0.9375rem;
    transition: background-color .4s linear;
    margin-bottom: 0;
    ul  {
      opacity: 0;
      transition: opacity .3s ease-in .1s;
      z-index: 1;
      padding-top: $nav-title-height + 10px;
      padding-left: 25px;
      margin-left: 0;
      list-style: none;
      font-size: .75em;
      text-transform: uppercase;
    }
    li  {
      padding-top: 5px;
      a {
        color: rgba(255,163,0,1);
        transition: color .2s linear;
        &:hover  {
          color: white;
          background-color: transparent;
        }
      }
    }
    .tile-triangle  {
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
    }
    &:hover {
      .nav-wrapper {
        background-color: rgba(0,0,0,0.8);
        height: $image-tileY-l;
      }
      ul  {
        opacity: 1;
      }
      .nav-title  {
        background-color: rgba(255,163,0,1);
      }
      .tile-triangle  {
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
      }
    }
  }

  .nav-title {
    width: 100%;
    position: absolute;
    height: $nav-title-height;
    line-height: $nav-title-height;
    text-transform: uppercase;
    background-color: rgba(255,163,0,1);
    transition: background-color .4s linear
  }


  .nav-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #222222;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    height: $nav-title-height;
    transition: all .4s linear;
  }

  .nav-title  {
    background-color: rgba(216,216,216,.95);
  }

  ul.orbit-ul, li.orbit-item {
    height:350px;
  }

  .orbit-ul .slide-caption  {
    height: 135px;
    margin-top: 107.5px;
    .slider-hl  {
      font-size: 36px;
      height: 82px;
      margin-bottom: 20px;
    }
    .slider-link  {
      width: 230px;
      height: 33px;
      font-size: 18px;

      a  {
        color: rgba(255,255,255,.85);
        position: absolute;
        width: 230px;
        left: 0;
        padding-left: 10px;
        &:hover  {
          background-color: transparent;
          color: black;
        }
      }
    }
  }
}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) {
  .nav-tile  {
    width: $image-tileX-xl;
    height: $image-tileY-xl;
  }

  .nav-tile:hover {
    .nav-wrapper {
      height: $image-tileY-xl;
    }
  }
}

/* XXL Screens: min-width: 1921px */
@media only screen and (min-width: 120.063em) { }
