$image-tileX-xl: 318.328px;
$image-tileY-xl: 160px;

$image-tileX-l: 318.328px;
$image-tileY-l: 160px;

$image-tileX-m: 100%;
$image-tileY-m: 200px;

$image-tileX-sm: 100%;
$image-tileY-sm: 150px;

$nav-title-height: 35px;

/* Orbit Styles */
li.orbit-image-1 {
  background-image: asset-url("Homepage/Homepage_Banner_Image_ph_a_retina.jpg", image);
  background-size: cover;
}
li.orbit-image-2  {
  background-image: asset-url("Homepage/Homepage_Banner_Image_ph_b_Retina.jpg", image);
  background-size: cover;
}

.orbit-container:hover .orbit-timer > span {
  display: none;
}

.who-we-are-home  {
  background-image: asset-url("Homepage/Homepage_Image_Who_We_Are_ph_retina.jpg", image);
}

.what-we-offer-home  {
  background-image: asset-url("Homepage/Homepage_Image_What_We_Offer_ph_Retina.jpg", image);
}

.get-started-home  {
  background-image: asset-url("Homepage/Homepage_Image_Get_Started_p_retina.jpg", image);
}

// Small screens
@media only screen {
  .orbit-next, .orbit-prev  {
    content: asset-url("Homepage/Homepage_Banner_Next_Arrow_on_retina.png", image);
    width: 16px !important;
    height: 62px !important;
  }
  .orbit-next  {
    margin-right: 20px;
  }
  .orbit-prev  {
    margin-left: 20px;
  }

  .orbit-container .orbit-next:hover, .orbit-container .orbit-prev:hover   {
    content: asset-url("Homepage/Homepage_Banner_Next_Arrow_off_retina.png", image);
    background-color: transparent;
  }

  .orbit-prev  {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  }

  .nav-title  {
    width: 100%;
    position: absolute;
    height: $nav-title-height;
    line-height: $nav-title-height;
  }

  .nav-tile  {
    background-size: cover;
    position:relative;
    z-index: 1;
    display: block;
    width: $image-tileX-sm;
    height: $image-tileY-sm;
    margin-bottom: 0.9375rem;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    /* scale bg image proportionately */
    ul  {
      opacity: 0;
      transition: opacity .3s ease-in .1s;
      z-index: 1;
      padding-top: $nav-title-height + 10px;
      padding-left: 25px;
      margin-left: 0;
      list-style: none;
      font-size: .75em;
      text-transform: uppercase;
    }
    li  {
      padding-top: 5px;
      a {
        color: rgba(255,163,0,1);
        transition: color .2s ease-out;
        &:hover  {
          color: white;
          background-color: transparent;
        }
      }
    }
  }

  .nav-wrapper {
    color: #222222;
    z-index: -1;
    height: $image-tileY-sm;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    //pointer-events: none;
  }

  .nav-title {
    text-transform: uppercase;
    background-color: rgba(255,163,0,1);
  }

  ul.orbit-ul, li.orbit-item {
  height: 150px;
  }

  .orbit-container  {
    margin: 0.9375rem 0;
  }

  .triangle  {
    width:9px;
    height: 11px;
    background-image: asset-url("site_wide/Triangle_Black.png", image);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: top;
    margin: 0 5px 2px 10px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    overflow:hidden;
  }

  /* Accordion Mobile Nav  */
  .accordion dd  {
    border-bottom: solid 1px rgba(0, 0, 0, 0.8);
  }
}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) {
  .nav-tile  {
    width: $image-tileX-m;
    height: $image-tileY-m;
  }

  .nav-wrapper {
      height: $image-tileY-m;
  }

  .orbit-container  {
    margin-top: 0;
  }

  ul.orbit-ul, li.orbit-item {
  height: 300px;
  }
}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  .nav-tile  {
    width: $image-tileX-l;
    height: $image-tileY-l;
    transition: background-color .4s linear;
    margin-bottom: 0;
    &:hover {
      .nav-wrapper {
        height: $image-tileY-l;
      }
      ul  {
        opacity: 1;
      }
    }
  }

  .nav-tile:hover  {
    .nav-wrapper {
      background-color: rgba(0,0,0,0.8);
    }
    .nav-title {
      background-color: rgba(255,163,0,1);
    }
    .triangle{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    }
  }

  .nav-wrapper {
    height: $nav-title-height;
    transition: all .4s linear;
  }

  .nav-title  {
    background-color: rgba(216,216,216,.95);
  }

  ul.orbit-ul, li.orbit-item {
    height:350px;
  }
}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) {
  .nav-tile  {
    width: $image-tileX-xl;
    height: $image-tileY-xl;
  }

  .nav-tile:hover {
    .nav-wrapper {
      height: $image-tileY-xl;
    }
  }
}

/* XXL Screens: min-width: 1921px */
@media only screen and (min-width: 120.063em) { }
