@import "variables";

/* Orbit Styles */
li.orbit-image-1 {
  background-image: asset-url("Homepage/homepage_banner_1.jpg", image);
  background-size: cover;
}
li.orbit-image-2  {
  background-image: asset-url("Homepage/homepage_banner_2.jpg", image);
  background-size: cover;
}

.orbit-container:hover .orbit-timer > span {
  display: none;
}

.who-we-are-home  {
  background-image: asset-url("Homepage/homepage_who_we_are.jpg", image);
}

.what-we-offer-home  {
  background-image: asset-url("Homepage/homepage_what_we_offer.jpg", image);
}

.get-started-home  {
  background-image: asset-url("Homepage/homepage_about_us.jpg", image);
}

.orbit-container .orbit-timer  {
  position: static ;
  width: 100% ;
  height: 5px ;

  .orbit-progress {
    top: 0 ;
    right: 0 ;
    height: 5px ;
    background-color: rgba(217, 217, 217, 1) ;
  }
}

// Small screens
@media only screen {
  .slide-caption-container  {
    display: none;
  }

  .orbit-container .orbit-next, .orbit-container .orbit-prev  {
    content: asset-url("Homepage/Homepage_Banner_Next_Arrow_on_retina.png", image);
    width: 12px !important;
    height: 40px !important;
    top: 50%;
  }
  .orbit-next  {
    margin-right: 40px;
  }
  .orbit-prev  {
    margin-left: 20px;
    display: none !important;
  }

  .orbit-container .orbit-next:hover, .orbit-container .orbit-prev:hover   {
    content: asset-url("Homepage/Homepage_Banner_Next_Arrow_off_retina.png", image);
    background-color: transparent;
  }

  .orbit-prev  {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
  }

  ul.orbit-ul, li.orbit-item {
  height: 175px;
  }

  .orbit-container  {
    margin-bottom: 15px ;
    margin-top: 30px;
  }

  .triangle-black  {
    background-image: asset-url("site_wide/Triangle_Black.png", image);
    background-repeat: no-repeat;
    display: inline-block;
    overflow:hidden;
    width: 10px;
    height: 11px;
  }

  .triangle-orange  {
    background-image: asset-url("site_wide/Triangle_Orange.png", image);
    background-repeat: no-repeat;
    display: inline-block;
    overflow:hidden;
    width: 10px;
    height: 11px;
  }

  /* Accordion Mobile Nav  */
  .accordion  {
    text-transform: uppercase;
    dd  {
      border-bottom: solid 1px rgba(0, 0, 0, 0.8);
      .content {
        padding: 0 0 0 5px;
      }
    }
    ul  {
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 400;
      list-style: none;
      margin-bottom: 0;
      margin-left: 0px;
      border-left: solid 4px rgba(255,163,0, 1);
    }
    li  {
      border-bottom: solid 1px rgba(0, 0, 0, 0.8);
      height: 39px;
      line-height: 39px;
      margin-bottom: 0px;
      position: relative;
      a  {
        color: #d9d9d9;
        height: 39px;
        padding-left: 10px;
        position: absolute;
        width: 100%;
        transition: color .15s linear;
        &:hover  {
        color: rgba(255,163,0, 1);
        }
      }
    }
    .last-accordion {
      border-bottom: none;
    }
  }
  .home-footer  {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: right;
    text-transform: uppercase;
    .footer-info  {
      color: rgb(217,217,217);
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 10px;
      display: inline;
      height: 29px;
      line-height: 29px;
      vertical-align: top;
      margin-right: 10px;
    }
  }
}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) {
  ul.orbit-ul, li.orbit-item {
  height: 300px;
  }
  .orbit-container  {
    margin-top: 10px;
  }
  .slide-caption-container  {
    display: block;
    width: 641px;
    height: 120px;
    margin-left: 15px;
    margin-top: 90px;
    .offering-button  {
      background-color: rgba(255,255,255,.1);
    }
  }
  .slider-hl  {
    font-size: 36px * .85;
    line-height: 1.2;
    height: 70px;
    margin-bottom: 20px;
    font-family: stratum2-medium ;
    color: white;
  }
}

/* L Screens: min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  /* Banner Styles */
  ul.orbit-ul, li.orbit-item {
    height:350px;
  }

  .slide-caption-container  {
    height: 135px;
    margin-top: 107.5px;
    margin-left: 25px;
    text-transform: uppercase;
  }
  .slider-hl  {
    font-size: 36px;
    height: 78px;
  }

  /* Tile Styles */
  .tile-triangle  {
    margin: 0px 5px 0px 10px;
    background-position: center;
  }
  .tile-column  {
    paddding-right: 0px;
  }
  #last-tile  {
    margin-right: 0px;
  }

  .nav-title {
    background-color: rgba(217,217,217,1);
    font-size: 18px;
    font-family: stratum2-regular;
    width: 100%;
    position: absolute;
    height: $nav-title-height;
    line-height: $nav-title-height;
    transition: background-color .4s linear
  }
  .nav-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #222222;
    background-color: rgba(0,0,0,0.75);
    z-index: -1;
    height: $nav-title-height;
    transition: all .4s linear;
  }

  .nav-tile  {
    text-transform: uppercase;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    position:relative;
    z-index: 1;
    display: block;
    height: $image-tileY-l;
    width: 300px;
    transition: background-color .4s linear;
    ul  {
      opacity: 0;
      transition: opacity .3s ease-in .1s;
      z-index: 1;
      padding-top: 50px;
      margin-left: 25px;
      list-style: none;
      font-size: .75em;
    }
    a {
      color: rgba(255,163,0,1);
    }

    .tile-triangle  {
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
    }
    &:hover {
      .nav-wrapper {
        background-color: rgba(0,0,0,0.75);
        height: $image-tileY-l;
      }
      ul  {
        opacity: 1;
      }
      .nav-title  {
        background-color: rgba(255,163,0,1);
      }
      .tile-triangle  {
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
      }
    }
  }
}

/* XL Screens: min-width 1441px */
@media only screen and (min-width: 90.063em) {}

/* XXL Screens: min-width: 1921px */
@media only screen and (min-width: 120.063em) { }
