@media screen and (max-width: 675px) {
  .mobile-hidden {
    display: none;
  }

  body header a {
    position: static;
    img {
      margin-top: .7em;
    }
  }

  .nav-tile {
    margin-bottom: 10px;
  }
}

