@import "variables";

.general-athletic  {
  background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.big-mountain  {
  background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.rock-and-ice  {
  background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.personal-training  {
  background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.semi-private  {
  background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

// Small screens
@media only screen {
 .what-we-offer-banner  {
    background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
  }

  .program-details  {
    background-color: black;
    padding: .50em 1.25em 2em 1.25em;
    text-transform: uppercase;
    h1  {
      font-size: 1.3em;
      &:after  {
      content: "/";
      color: $gymsight-orange;
      padding-left: 5px;
      }
    }
    h2  {
      font-size: .8em;
      color: $gymsight-orange;
      margin-bottom: 0px;
    }
    span  {
      margin-bottom: 10px;
      font-size: 12px;
    }
  }

  .index-wrapper  {
    min-height: 375px;
    position:relative;
  }

  .offerings-nav  {
    position: absolute;
    width: 100%;
    nav  {
      background: -webkit-linear-gradient(top, rgba(0, 0, 0,1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: -moz-linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: -o-linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: linear-gradient(top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
    }
    ul  {
      list-style: none;
      margin-bottom: 0;
      text-transform: uppercase;
      margin: 1.5em 0 0 0em;
    }
    a  {
      color: $gymsight-orange;
      transition: color .1s linear;
    }
    span  {
      color: $gymsight-orange;
    }
  }

  .nav-heading  {
    color: white;
    &:after  {
      content: " /";
      color: $gymsight-orange;
    }
  }

  .training-program  {
    margin-bottom: 1em;
    background-size: cover;
    background-position: center top;

  }

} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .index-wrapper  {
    min-height: 260px;
  }

  .what-we-offer-banner .banner-text{
    padding-top: 35px;
  }

  .offerings-nav  {
    top: $banner-container-md*3/4;
    nav  {

    }
    ul  {
      margin: 15px 0 25px 15px;
      line-height:1.6;
    }
  }
  .nav-heading  {
    margin-bottom: 10px;
  }

  section:first-child  {
    margin-top: 40px;
  }

  .training-program  {
    padding: 25px;
    position: relative;
    height: 105px;
    p  {
      width: 60%;
    }
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .what-we-offer-banner  {
    .banner-text {
      padding-top: 39.5px;
    }
  }
  .index-wrapper  {
    min-height: 287px;
  }

  .offerings-nav  {
    top: $banner-container-lg*3/4;
    ul  {
      margin: 15px 0 25px 15px;
    }
  }
  .nav-heading  {
    margin-bottom: 10px;
  }

  .offerings-link  {
    background-color: rgba(255, 255, 255, 0.4);
    color: $gymsight-white;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-transform: uppercase;
    width: 220px;
    transition: all .1s linear;
    &:before  {
      content: asset-url("site_wide/Triangle_Orange.png", image);
      margin: 0 10px;
    }
    &:hover  {
      background-color: $gymsight-orange;
      color: black;
      &:before  {
        content: asset-url("site_wide/Triangle_Black.png", image);
      }
    }
  }

  .back-to-offerings  {
    top: -40px;
  }

  #program-banner-text  {
    padding-top: 20px;
  }

  .training-program  {
    height: 180px;
  }
  .program-copy  {
    height: 85px;
    h1  {
      margin-bottom: 8px;
      margin-top: 0px;
    }
    p  {
      width: 60%;
      margin-bottom: 4px;
    }
  }

  #program-text  {
    min-height: 350px;
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
