@import "variables";

.general-athletic  {
  background: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.big-mountain  {
  background: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.rock-and-ice  {
  background: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.personal-training  {
  background: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

.semi-private  {
  background: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
}

// Small screens
@media only screen {
 .what-we-offer-banner  {
    background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
  }

  .offerings-banner  {
    height: 115px;
  }

  .program-details  {
    background-color: black;
    padding: 20px 10px;
    h1  {
      text-transform: uppercase;
      font-family: stratum2-bold;
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 18px;
      &:after  {
      content: "/";
      color: $gymsight-orange;
      padding-left: 5px;
      }
    }
    h2  {
      text-transform: uppercase;
      font-family: stratum2-regular;
      font-size: 14px;
      line-height: 14px;
      color: $gymsight-orange;
      margin-bottom: 6px;
    }
    span  {
      display: inline-block;
      margin-bottom: 12px;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
    }
  }

  .index-wrapper  {
    min-height: 386px;
    position:relative;
  }

  .offerings-nav  {
    position: absolute;
    width: 100%;
    nav  {
      background: -webkit-linear-gradient(top, rgba(0, 0, 0,1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: -moz-linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: -o-linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: linear-gradient(top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
    }
  }

  .hidden  {
      display: none !important;
  }

  //for jquery to find nav-heading that's active
  .offerings-active  {
      color: rgb(217,217,217);
  }

  .offerings-nav  {
    span  {
      color: $gymsight-orange;
    }
  }

  .hover-state  {
    position: absolute;
    width: 100%;
    border-left: solid 5px rgba(255,164,0,0);
    background-color: rgba(230,230,230,0.0);
    height: 100%;
    top: 0;
    left: 0;
    transition: all .2s linear;
  }

  .training-program  {
    position: relative;
    margin-bottom: 15px;
    padding: 15px 10px 15px 10px;
    background-size: cover;
    background-color: rgba(230,230,230,0.0);
    background-position: center top;
    transition: background-color .2s linear;
    .offering-button  {
      background-color: rgba(255,255,255,.1);
    }
    &:hover  {
      background-color: rgba(230,230,230,0.5);
      .hover-state  {
        border-left: solid 5px rgba(255,164,0,1);
        background-color: rgba(230,230,230,.30);
      }
      .offering-button  {
        background-color: $gymsight-orange;
        color: black;
      }
      .button-triangle  {
          content: asset-url("site_wide/Triangle_Black.png", image);
      }
    }
  }

  .nav-group  {
    padding: 15px 10px 0px 10px;
  }

  .offering-button {
      display: none;
  }

  #last-nav-group  {
    margin-bottom: 15px;
  }

} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .nav-group  {
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .index-wrapper  {
    min-height: 300px;
    margin-bottom: 19px;
  }

  .program-details  {
    padding: 25px;
  }

  .offerings-banner  {
    height: 210px;
  }

  #program-banner-text  {
    padding-top: 14px;
  }

  #WWO-text {
    padding-top: 36px;
  }

  .offerings-nav  {
    top: 210px*3/4;
    nav  {
      padding: 19px 19px 38px 19px;
    }
  }
  .offering-button {
      display: inline-block;
  }

  .back-to-offerings  {
    top: -44px;
  }

  .training-program  {
    padding: 25px;
    position: relative;
    height: 105px;
    p  {
      width: 60%;
    }
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  #WWO-text  {
      padding-top: 48px;
  }
  .offerings-banner  {
    height: 280px;
  }
  .index-wrapper  {
    min-height: 369px;
    margin-bottom: 40px;
  }

  .offerings-nav  {
    top: 280px*3/4;
    nav  {
      padding: 25px 25px 50px 25px;
    }
  }

  .back-to-offerings  {
    top: -55px;
  }

  #program-banner-text  {
    padding-top: 20px;
  }

  .training-program  {
    height: 180px;
    padding: 25px;
    h1  {
      font-size: 30px;
      line-height: 30px;
    }
    p  {
      width: 60%;
      margin-bottom: 6px;
    }
  }

  #program-text  {
    min-height: 350px;
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
