@import "variables";

// Small screens
@media only screen {
 .what-we-offer-banner  {
    background-image: asset-url("Interior_Banner_Images/wwo_banner.jpg", image);
  }

  .index-wrapper  {
    min-height: 375px;
    position:relative;
  }

  .offerings-nav  {
    position: absolute;
    width: 100%;
    nav  {
      background: -webkit-linear-gradient(top, rgba(0, 0, 0,1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: -moz-linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: -o-linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
      background: linear-gradient(top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, .7) 61%, rgba(0, 0, 0, .05) 100%);
    }
    ul  {
      list-style: none;
      margin-bottom: 0;
      text-transform: uppercase;
      margin: 1.5em 0 0 1.5em;
    }
    a  {
      color: #ffa300;
      transition: color .1s linear;
    }
    span  {
      color: #ffa300;
    }
  }

  .nav-heading  {
    color: white;
  }

} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .index-wrapper  {
    min-height: 260px;
  }

  .offerings-nav  {
    top: $banner-container-md*3/4;
    nav  {

    }
    ul  {
      margin: 25px 0 25px 25px;
    }
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .what-we-offer-banner  {
    .banner-text {
      padding-top: 39.5px;
    }
  }
  .index-wrapper  {
    min-height: 287px;
  }

  .offerings-nav  {
    top: $banner-container-lg*3/4;
    nav  {

    }
  ul  {
    margin: 25px 0 25px 25px;
  }
  }
  //110px = half of lg
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
