@import  "variables";

.no-touch {
  //about page
  .about dd > a {
    transition: all .2s linear;
    -webkit-transition: all .2s linear; /* For Safari 3.1 to 6.0 */
    &:hover  {
      color: rgb(51,51,51);
    }
  }

  //contact page
  .contact-button  {
    transition: all .2s linear;
    -webkit-transition: all .2s linear; /* For Safari 3.1 to 6.0 */
    &:hover  {
      background-image: asset-url("site_wide/Triangle_Black.png", image);
      background-color: $gymsight-orange;
      color: black;
    }
  }

  .form-link  {
    &:hover  {
      color: $gymsight-orange;
    }
  }

  .contact dd > a {
    transition: all .2s linear;
    &:hover  {
      color: rgb(51,51,51);
      background-color: $gymsight-orange
    }
  }

  .contact-container .contact-button  {
    &:hover  {
      background-color: #ffa400;
    }
  }

  //gallery page
  .next-img  {
    &:hover  {
      background-image: asset-url("site_wide/image_arrow_forward_off.png", image);
    }
  }
  .prev-img  {
    &:hover  {
      background-image: asset-url("site_wide/image_arrow_back_off.png", image);
    }
  }

  .overlay  {
    transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
  }

  .item:hover .overlay  {
      opacity: 1;
  }

  .gallery-nav-button  {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    &:hover  {
      background-color: rgb(255,164,0);
    }
  }

  .filters li {
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
    &:hover  {
      color: rgb(217,217,217);
    }
  }

  //homepage
  .orbit-container .orbit-next:hover, .orbit-container .orbit-prev:hover   {
    background-image: asset-url("Homepage/homepage_banner_next_arrow_black.png", image);
    background-color: transparent;
  }

  .accordion.nav li a {
    transition: color .15s linear;
    -webkit-transition: color .15s linear;
    &:hover  {
      color: rgba(255,163,0, 1);
    }
  }

  //offerings
  .training-program  {
    .hover-border  {
      transition: background-color .2s linear;
        -webkit-transition: background-color .2s linear;
    }
    .offering-button  {
      transition: all .2s linear;
      -webkit-transition: all .2s linear;
    }
    &:hover  {
      .hover-border  {
        background-color: rgba(255,164,0,1);
      }
      .offering-button  {
        background-color: $gymsight-orange;
        color: black;
        background-image: asset-url("site_wide/Triangle_Black.png", image);
      }

    }
  }

.preload-images  {
  background: url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/gat/wwo_offering_gap_on_c.jpg"),
              url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/bmp/wwo_offering_bmp_on.jpg"),
              url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/rss/wwo_offering_rss_on.jpg"),
              url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/pt/wwo_offering_pt_on.jpg");
}

  @media only screen and (min-width: 40.063em) {
    .general-athletic:hover  {
    background: url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/gat/wwo_offering_gap_on_c.jpg");
    background-size: 100%;
    background-position: center;
  }

  .big-mountain:hover  {
    background: url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/bmp/wwo_offering_bmp_on.jpg");
    background-size: 100%;
    background-position: center;
  }

  .run-strong:hover  {
    background: url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/rss/wwo_offering_rss_on.jpg");
    background-size: 100%;
  }

  .personal-training:hover {
    background: url("http://d1glu0vbbg0go6.cloudfront.net/What_We_Offer/Offerings/pt/wwo_offering_pt_on.jpg");
    background-size: 100%;
  }
  }

  .breakout-link  {
    transition: color .1s linear;
    -webkit-transition:color .1s linear;
  }

  //static pages events
  ul a  {
    transition: color .1s linear;
    -webkit-transition: color .1s linear;
    &:hover  {
      color: rgb(217,217,217);
    }
  }

  .centeredmenu a  {
    &:hover {
        color: white;
        background-color: transparent;
        &.active  {
          color: white;
        }
    }
  }

  .offering-button  {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    &:hover  {
      background-color: $gymsight-orange;
      color: black;
      background-image: asset-url("site_wide/Triangle_Black.png", image);
    }
  }
}

