@import "variables";

// Small screens
@media only screen {
  body  {
    height: auto;
    min-height: 100%;
    background: -webkit-linear-gradient(top, rgba(51, 51, 51,.05) 33%, rgba(51, 51, 51, .7) 70%, rgba(51, 51, 51, 1) 80%), asset-url("site_wide/black_twill/black_twill.png", image);;
    background: -moz-linear-gradient(rgba(51, 51, 51, .05) 33%, rgba(51, 51, 51, .7) 61%, rgba(51, 51, 51, 1) 80%), asset-url("site_wide/black_twill/black_twill.png", image);;
    background: -o-linear-gradient(rgba(51, 51, 51, .05) 33%, rgba(51, 51, 51, .7) 61%, rgba(51, 51, 51, 1) 80%), asset-url("site_wide/black_twill/black_twill.png", image);;
    background: linear-gradient(top, rgba(51, 51, 51, .05) 33%, rgba(51, 51, 51, .7) 61%, rgba(51, 51, 51, 1) 80%), asset-url("site_wide/black_twill/black_twill.png", image);;
    padding-bottom: 3em;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

  .credits  {
    margin: 20px 0 0 10px;
    font-size: 10px;
    line-height: 12px;
    font-family: stratum2-bold;
    text-transform: uppercase;
  }

  a:hover  {
    background-color: transparent;
  }

  figure  {
    margin: 0px;
  }

  .stretch-image  {
    width: 100%;
  }

  ul {
    color: $gymsight-orange;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 400;
    list-style: none;
    margin: 0;
    a {
      color: $gymsight-orange;
      transition: color .1s linear;
      &:hover  {
        color: rgb(217,217,217);
      }
    }
  }

  li  {
    margin-bottom: 6px;
    line-height: 12px;
  }

  .nav-heading {
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 12px;
    &:after  {
      content: " /";
      color: $gymsight-orange;
    }
  }

  p  {
    color: white;
    font-size: 14px;
  }

  a:hover {
    background-color: transparent;
  }

  .social-container  {
    position: relative;
    width: 68px;
    height: 29px;
    display: inline-block;
    .facebook  {
      position: absolute;
      left: 0px;
      height: 29px;
      width: 29px;
    }
    .twitter  {
      position: absolute;
      left: 39px;
      height: 29px;
      width: 29px;
    }
  }

  .active  {
    color: rgb(217, 217, 217);
  }

  .header-active  {
      color: rgb(217, 217, 217);
  }

  .interior-footer  {
    padding: 19px 0;
    width: 100%;
    background-image: asset-url("site_wide/global_footer.jpg", image);
    background-size: cover;
    border-top: solid 2px $gymsight-orange;
    .social-container  {
      margin-top: 20px;
    }
  }

  #last-footer-nav  {
    margin-bottom: 20px;
  }

  .footer-logo {
    display: inline-block;
    width: 35%;
  }

  .absolute-home  {
    position: absolute;
  }

  .banner-container  {
    height: 115px;
    overflow: hidden;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: top;
    background-position: center top;
  }

  .banner-text  {
    font-family: stratum2-bold;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    margin-left: 10px;
    padding-top: 28px;
    font-size: 28px;
    line-height: 1.2;

  }
  .centeredmenu {
    text-transform: uppercase;
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
    margin-bottom: 40px;
    margin-top: 20px;
    ul {
      font-size: .75em;
      clear:left;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      left:50%;
      text-align:center;
    }
    li {
      display:block;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      right:50%;
      .active  {
        border-bottom: 3px solid rgba(255,164,0,1);
        color: white;
      }
    }
    a {
      margin: 0 10px;
      display:block;
      padding-bottom: 4px;
      color:rgba(191,191,191,1);
      &:hover {
        color: white;
        background-color: transparent;
        &.active  {
          color: white;
        }
      }
    }
  }

  .hidden  {
    display: none;
  }

  header {
    text-align: center;
    position: relative;
  }

  #header-logo  {
    margin-top: 30px;
    width: 200px;
    height: auto;
  }

  .facebook  {
    content: asset-url("site_wide/social_facebook_off.png", image);
    &:hover  {
      content: asset-url("site_wide/social_facebook_on.png", image);
    }
  }
  .twitter  {
    content: asset-url("site_wide/social_twitter_off.png", image);
    &:hover  {
      content: asset-url("site_wide/social_twitter_on.png", image);
    }
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .columns  {
    //padding: 0;
  }

  .twitter  {
    margin-right: 10px;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile isues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  header  {
    min-height: 140px;
  }

  .footer-logo  {
    width: 100%;
  }

  .header-image  {
     background-image: image_url('Homepage/homepage_header.jpg');
     background-size: cover;
  }

  .absolute-home  {
    position: static;
  }

  .interior-footer  {
    padding: 19px 0;
    ul  {
      margin-left: 50px*3/4;
      margin-top: 45px;
      margin-bottom: 30px;
    }
  }

  .credits  {
    margin-left: 46.5px;
  }

  #last-footer-nav  {
    margin-bottom: 0px;
  }

  .banner-container  {
    height: 160px;
  }

  .banner-text  {
      margin-left: 25px;
      padding-top: 37px;
      font-size: 36px;
  }

  .centeredmenu  {
    margin-top: 30px;
    margin-bottom: 60px;
    ul  {
      font-size: 14px;
    }
    a  {
      margin-left: 20px;
      margin-right: 20px;
      padding-bottom: 8px;
    }
  }

  #header-logo {
    margin-top: 45px;
  }
  header > img  {
      height: 140px;
  }

  .offering-button  {
    font-family: stratum2-regular;
    font-size: 18px * .85;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 25px;
    line-height: 25px;
    position: absolute;
    width: 200px;
    transition: all .2s linear;
    .button-triangle {
      margin-left: 10px;
      width: 10px;
      height: 11px;
      margin-right: 10px;
      display:inline;
      content: asset-url("site_wide/Triangle_Orange.png", image);
    }
    &:hover  {
      background-color: $gymsight-orange;
      color: black;
      .button-triangle  {
        content: asset-url("site_wide/Triangle_Black.png", image);
      }
    }
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .banner-container  {
    height: 210px;
  }

  .banner-text  {
      padding-top: 48px;
      font-size: 48px;
  }

  .offering-button  {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    width: 230px;
  }

  #header-logo {
        margin-top: 60px;
  }

  .centeredmenu  {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .interior-footer  {
    ul  {
      margin-left: 50px;
      margin-bottom:40px;
    }
  }
  .credits  {
    margin-left: 60px;
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
