body  {
  font-size: 1.152em;
  background-image: asset-url("site_wide/black_twill/black_twill.png", image);
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ration: 1.5) {
    body  {
        background-image: asset-url("site_wide/black_twill/black_twill_@2X.png", image);
    }
}

body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: asset-url("site_wide/Background_Bottom_Gradient.png", image);
}

header {
  text-align: center;
  padding-bottom: .7em;
  position: relative;
  display: block;
  overflow: hidden;
  a {
    position: absolute;
    right: 0;
    left:0;
    bottom: 30px;
    &:hover {
      background-color: transparent;
    }

  }
  image {
    z-index: -1;
    width: 100%;
    display: block;
  }
}

//image_tag("site_wide/Logo_Top.png", alt: "Logo")

.home-banner  {
  margin-top: 20px;
}


figure  {
  margin: 0px;
}

.stretch-image  {
  width: 100%;
}

.mobile-hidden  {
  display: visible;
}
