body  {
  font-size: 1.152em;
  background-image: url(site_wide/black_twill/black_twill.png)
}

body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: url(site_wide/Background_Bottom_Gradient.png);
}

body header {
  text-align: center;
  padding-bottom: .7em;
  a {
    position: absolute;
    right: 0;
    left:0;
    top: 20px;
    &:hover {
      background-color: transparent;
    }

  }
  image {
    z-index: -1;
  }
}


.home-banner  {
  margin-top: 20px;
}


figure  {
  margin: 0px;
}
