body  {
  background-image: asset-url("site_wide/black_twill/black_twill.png", image);
}

body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: asset-url("site_wide/Background_Bottom_Gradient.png", image);
}

a:hover  {
  background-color: transparent;
}

figure  {
  margin: 0px;
}

.stretch-image  {
  width: 100%;
}

// Small screens
@media only screen {
  .banner-container  {
    height: 115px;
    overflow: hidden;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: top;
    background-position: center top;
  }

  .banner-text  {
      position: absolute;
      top: 0;
      margin-left: 25px;
      padding-top: 30px;
      font-size: 24px;
      line-height: 1.2;
      text-transform: uppercase;
  }

  .centeredmenu {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
    margin-bottom: 0.4995rem;
    ul {
      font-size: .67em;
      clear:left;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      left:50%;
      text-align:center;
      text-transform: uppercase;
      li {
        display:block;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        right:50%;
        .active  {
          border-bottom: 3px solid rgba(255,163,0,1);
          color: white;
        }
        a {
          display:block;
          margin: .2em 1em;
          padding-bottom: 3px;
          text-decoration:none;
          line-height:1.3em;
          color:rgba(255,255,255,.8);
          &:hover {
            border-bottom: 3px solid rgba(255,163,0,1);
            color:rgba(255,255,255,1);
            background-color: transparent;
          }
        }
      }
    }
  }

  .small-hidden {
    display: none;
  }

  .small-med-show  {
    display: block;
  }

  .small-med-hidden  {
    display: none;
  }

  .hidden  {
    display: none;
  }

  header > img  {
    position: relative;
  }

  .absolute  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  //Logo styling
  header {
  text-align: center;
  margin-bottom: 0.4995rem;
  position: relative;
  min-height: 95px;
  a {
      img {
       margin: 1.5em 3em 0.9375rem 3em;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }

  .facebook  {
    content: asset-url("site_wide/Social_Facebook_Off.png", image);
    &:hover  {
      content: asset-url("site_wide/Social_Facebook_On.png", image);
    }
  }

  .twitter  {
    content: asset-url("site_wide/Social_Twitter_Off.png", image);
    &:hover  {
      content: asset-url("site_wide/Social_Twitter_On.png", image);
    }
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .columns  {
    //padding: 0;
  }

  .twitter  {
    margin-right: 10px;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .banner-container  {
    height: 160px;
  }

  .banner-text  {
      padding-top: 35px;
      font-size: 28px;
  }

  .small-hidden {
    display: block;
  }

  .centeredmenu  {
    margin-bottom: .5em;
    margin-top: .5em;
    ul  {
      font-size: .85em;
    }
  }

  header a {
    img {
      margin: 2em 3em 0.9375rem 3em;
    }
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .banner-container  {
    height: 220px;
  }

  .banner-text  {
      padding-top: 67px;
      font-size: 36px;
  }

  .small-med-show  {
    display: none;
  }

  .small-med-hidden  {
    display: block;
  }

  .centeredmenu  {
    ul  {
      font-size: .9em;
    }
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
