body  {
  font-size: 1.152em;
  background-image: asset-url("site_wide/black_twill/black_twill.png", image);
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ration: 1.5) {
    body  {
        background-image: asset-url("site_wide/black_twill/black_twill_@2X.png", image);
    }
}

body:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: asset-url("site_wide/Background_Bottom_Gradient.png", image);
}

header {
  text-align: center;
  padding-bottom: .7em;
  position: relative;
  display: block;
  overflow: hidden;
  a {
    img {
        margin: 3em 3em 1em 3em;
      }

    &:hover {
      background-color: transparent;
    }

  }
  image {
    z-index: -1;
    width: 100%;
    display: block;
  }
}

//image_tag("site_wide/Logo_Top.png", alt: "Logo")

.home-banner  {
  margin-top: 20px;
}


figure  {
  margin: 0px;
}

.stretch-image  {
  width: 100%;
}

.mobile-hidden  {
  display: visible;
}

.centeredmenu {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
   margin-bottom: 3em;
   margin-top: .5em;
}
.centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
   font-size: 0.9em;
   text-transform: uppercase;
}
.centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
.centeredmenu ul li a {
   display:block;
   margin: .2em 1em;
   padding-bottom: 3px;
   text-decoration:none;
   line-height:1.3em;
   color:rgba(255,255,255,.8);
   &:hover {
    border-bottom: 3px solid rgba(255,163,0,1);
    color:rgba(255,255,255,1);
    background-color: transparent;
   }
}

.centeredmenu a.active {
   border-bottom: 3px solid rgba(255,163,0,1);
   color: white;
}

.hidden {
  display: none;
}

/* M Screens: min-width 641px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}
@media only screen and (max-width: 40.0em)  {
  .centeredmenu ul li {
    font-size: .7em;
  }

  .centeredmenu{
    margin-bottom: 1em;
  }
}
