@import "variables";

// Small screens
@media only screen {
  body  {
    height: auto;
    min-height: 100%;
    background-image: asset-url("site_wide/black_twill/black_twill.png", image);
  }

  a:hover  {
    background-color: transparent;
  }

  figure  {
    margin: 0px;
  }

  .stretch-image  {
    width: 100%;
  }

  ul {
    a {
      color: $gymsight-orange;
      transition: color .1s linear;
      &:hover  {
        color: rgb(217,217,217);
      }
    }
  }

  p  {
    font-size: 14px;
  }

  a:hover {
    background-color: transparent;
  }

  .social-container  {
    position: relative;
    width: 68px;
    height: 29px;
    display: inline-block;
    .facebook  {
      position: absolute;
      left: 0px;
    }
    .twitter  {
      position: absolute;
      left: 39px;
    }
  }

  .interior-footer  {
    text-transform: uppercase;
    padding-top: 20px;
    width: 100%;
    height: 115px;
    background-image: asset-url("site_wide/global_footer.jpg", image);
    background-size: cover;
    border-top: solid 2px $gymsight-orange;
    .social-container  {
      margin-top: 10px;
    }
    ul  {
      font-size: 12px;
      font-family: sans-regular;
      list-style: none;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0;
    }
    .nav-heading  {
      margin-bottom: 0px;
      &:after  {
        font-size: .72em;
      }
    }
    .active  {
      color: white;
    }
    .header-active  {
      color: white;
    }
    a {
      font-size: .72em;
    }
  }

  #last-footer-nav  {
    margin-bottom: 20px;
  }

  .footer-logo {
    display: block;
  }

  .absolute-home  {
    position: absolute;
  }

  .content-wrapper  {
    background: -webkit-linear-gradient(top, rgba(51, 51, 51,.05) 33%, rgba(51, 51, 51, .7) 70%, rgba(51, 51, 51, 1) 80%);
    background: -moz-linear-gradient(rgba(51, 51, 51, .05) 33%, rgba(51, 51, 51, .7) 61%, rgba(51, 51, 51, 1) 80%);
    background: -o-linear-gradient(rgba(51, 51, 51, .05) 33%, rgba(51, 51, 51, .7) 61%, rgba(51, 51, 51, 1) 80%);
    background: linear-gradient(top, rgba(51, 51, 51, .05) 33%, rgba(51, 51, 51, .7) 61%, rgba(51, 51, 51, 1) 80%);
    padding-bottom: 3em;
    width: 100%;
    height: 100%;
  }

  .banner-container  {
    height: 115px;
    overflow: hidden;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: top;
    background-position: center top;
  }

  .banner-text  {
    font-family: stratum2-bold;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    margin-left: 10px;
    padding-top: 28px;
    font-size: 28px;
    line-height: 1.2;

  }

  .centeredmenu {
    text-transform: uppercase;
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
    margin-bottom: 30px;
    margin-top: 20px;
    ul {
      font-size: .67em;
      clear:left;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      left:50%;
      text-align:center;
    }
    li {
      display:block;
      float:left;
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      right:50%;
      .active  {
        border-bottom: 3px solid rgba(255,164,0,1);
        color: white;
      }
    }
    a {
      margin: 0 10px;
      display:block;
      padding-bottom: 4px;
      color:rgba(191,191,191,1);
      &:hover {
        color: white;
        background-color: transparent;
        &.active  {
          color: white;
        }
      }
    }
  }

  .hidden  {
    display: none;
  }

  header > img  {
    position: relative;
  }

  .absolute  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  //Logo styling
  header {
  text-align: center;
  position: relative;
  min-height: 95px;
  a {
      img {
       margin-top: 40px;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }

  .facebook  {
    content: asset-url("site_wide/Social_Facebook_Off.png", image);
    &:hover  {
      content: asset-url("site_wide/Social_Facebook_On.png", image);
    }
  }

  .twitter  {
    content: asset-url("site_wide/Social_Twitter_Off.png", image);
    &:hover  {
      content: asset-url("site_wide/Social_Twitter_On.png", image);
    }
  }
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .columns  {
    //padding: 0;
  }

  .twitter  {
    margin-right: 10px;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile isues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .absolute-home  {
    position: static;
  }

  .interior-footer  {
    height: 200px;
    ul  {
      margin-left: 1.1rem;
      font-size: 1em;
      margin-top: 38px;
    }
  }

  #last-footer-nav  {
    margin-bottom: 0px;
  }

  .nav-heading  {
      margin-bottom: 5px;
  }

  .banner-container  {
    height: 160px;
  }

  .banner-text  {
      margin-left: 25px;
      padding-top: 23px;
      font-size: 48px;
  }

  .centeredmenu  {
    margin-top: 40px;
    margin-bottom: 80px;
    ul  {
      font-size: .85em;
    }
    a  {
      margin-left: 20px;
      margin-right: 20px;
      padding-bottom: 8px;
    }
  }

  header > a > img {
        margin-top: 60px;
  }
  header > img  {
      height: 140px;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  .banner-container  {
    height: 220px;
  }

  .banner-text  {
      padding-top: 53px;
  }

  .centeredmenu  {
    ul  {
      font-size: 14px;
    }
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
