//universal variables
$gymsight-orange: rgb(255,164,0);
$gymsight-white:  rgba(255, 255, 255, 0.8);
$banner-container-sm: 115px;
$banner-container-md: 160px;
$banner-container-lg: 220px;


//homepage variables

$image-tileY-xl: 140px;
$image-tileY-l: 140px;
$nav-title-height: 30px;

