<div class="row">
  <div class="large-6 medium-6 columns large-centered">
    <h1>Editing image</h1>
  </div>
</div>
<%= render 'form' %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
