<div class="row">
  <div class="large-6 large-centered columns">
    <h1>New image</h1>
  </div>
</div>
<%= render 'form' %>
<div class="row">
  <div class="large-6 large-centered columns">
    <%= link_to 'Back', about_path %>
  </div>
</div>
