<div class="row">
  <div class="medium-6 large-6 large-offset-6 columns gallery-nav-container">
    <section class="gallery-nav">
      <div class="gallery-nav-button"><span class="tag-type">All Content </span><!-- / <span class="media-nav-text">All Media Types</span> --></div>
      <nav class="filters">
        <ul class="tags filter-group" data-filter-group="tag">
          <h4 class="nav-header">Filter by tag</h4>
          <li class="tag" data-filter="">All content</li>
          <li class="tag" data-filter=".workouts">Workouts</li>
          <li class="tag" data-filter=".nutrition">Nutrition</li>
          <li class="tag" data-filter=".competitions">Competitions</li>
          <li class="tag" data-filter=".field">In the field</li>
        </ul>
        <!-- <ul class="media-type filter-group" data-filter-group="type">
          <li class="media nav-header" data-filter="">All media</h4>
          <li class="media" data-filter=".image">Images</li>
        </ul> -->
      </nav>
    </section>
  </div>
</div>
    <%= render template:"images/index" %>


