<div class="row">
  <div class="medium-6 large-6 large-offset-6 columns gallery-nav-container">
    <section class="gallery-nav">
      <div class="gallery-nav-button">All Content / All Media Types</div>
      <nav class="filters">
        <ul class="tags">
          <li class="nav-header">Filter by tag</li>
          <li>All content</li>
          <li>Workouts</li>
          <li>Nutrition</li>
          <li>Competitions</li>
          <li>In the field</li>
        </ul>
        <ul class="media-type">
          <li class="nav-header">All media</li>
          <li>Images</li>
        </ul>
      </nav>
    </section>
  </div>
</div>
<div class="row">
  <div class="medium-12 large-12 columns">
    <div id="isotope-container" class="js-isotope" data-isotope-options='{ "itemSelector": ".item", "masonry": { "columnWidth": 220, "gutter": 20 } }'>
      <%= render template:"images/index" %>
    </div>
  </div>
</div>

